﻿@model ESS.Data.Model.RequestModel



<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">ITAR REQUEST FORM </span>
            <span class="caption-helper">Entry Data</span>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <h3 class="form-section">Document Info</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RequestNo, "Request No", new { @class = "control-label col-md-3" })

                            <div class="col-md-9">
                                <div class="input-inline">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-file-text-o"></i>
                                        </span>
                                        
                                        @Html.TextBoxFor(model => model.RequestNo, new { @class = "form-control", @ng_model = "model.RequestNo", @readonly = "readonly", placeholder = "Auto Generated" })
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RequestDate, "Request Date", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">

                                <div class="input-inline">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        @Html.TextBoxFor(model => model.RequestDate, new { @class = "form-control", @ng_model = "model.RequestNo", @readonly = "readonly", placeholder = "Request Date" })
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Status, new { @class = "form-control", @ng_model = "model.RequestNo", @readonly = "readonly", placeholder = "Status" })
                            </div>
                        </div>
                    </div>


                </div>

                <h3 class="form-section">Person Info</h3>
                <div class="row">


                    <!--/span-->
                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.RequestFor.FullName, "User Request", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                

                                <div class="input-group">
                                    <div class="input-icon">
                                        <i class="fa fa-user fa-fw"></i>
                                        @Html.TextBoxFor(model => model.RequestFor.FullName, new { @class = "form-control", @ng_model = "model.RequestNo", placeholder = "Request User" })
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn blue" type="button">
                                            <i class="fa fa-search-plus fa-fw"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RequestFor.CompanyName, "Site", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.RequestFor.CompanyName, new { @class = "form-control", placeholder = "Site", @readonly = "" })
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.RequestFor.NIKSite, "NIK Site", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.RequestFor.NIKSite, new { @class = "form-control", placeholder = "NIK Site", @readonly = "" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RequestFor.DepartmentName, "Department", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.RequestFor.DepartmentName, new { @class = "form-control", placeholder = "Department", @readonly = "" })
                            </div>
                        </div>

                    </div>


                    <!--/span-->
                </div>


                <h3 class="form-section" style="margin-bottom: 10px;">Please check your request for Access</h3>
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>@Html.CheckBoxFor(model => model.IsEmailAddresAccess, new { @class = "form-control" })  </td>
                                        <td>Email Address (firstname.lastname@domain.com)</td>
                                        <td></td>
                                        <td>@Html.CheckBoxFor(model => model.IsEmailAddresToExtAccess, new { @class = "form-control" })  </td>
                                        <td>Email Access to External Doman</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.CheckBoxFor(model => model.IsUSBPortAccess, new { @class = "form-control" })  </td>
                                        <td>USB Port Access</td>
                                        <td></td>
                                        <td>@Html.CheckBoxFor(model => model.IsInternetAccess, new { @class = "form-control" })  </td>
                                        <td>Internet Access (wifi / cable)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.CheckBoxFor(model => model.IsAccpacAccess, new { @class = "form-control" })  </td>
                                        <td>AccPac Access</td>
                                        <td></td>
                                        <td>@Html.CheckBoxFor(model => model.IsSharepointAccess, new { @class = "form-control" })  </td>
                                        <td>Sharepoint Access</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.CheckBoxFor(model => model.IsVPNAccess, new { @class = "form-control" })  </td>
                                        <td>VPN Access</td>
                                        <td></td>
                                        <td>@Html.CheckBoxFor(model => model.IsEmailDomainRegister, new { @class = "form-control" })  </td>
                                        <td>Email Domain Register</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        @Html.LabelFor(model => model.RequestDate, "Special Notes for special request access", new { @class = "control-label", @style = "text-align: justify;" })
                        <textarea class="form-control" rows="5"></textarea>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                        </div>
                    </div>
                </div>


                <h3 class="form-section">Approval Info</h3>
                <div class="row">


                    <!--/span-->
                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.CreatedBy.FullName, "Created By", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">                               

                                <div class="input-group input-large">
                                    <div class="input-icon">
                                        <i class="fa fa-user fa-fw"></i>
                                        @Html.TextBoxFor(model => model.CreatedBy.FullName, new { @class = "form-control", placeholder = "Created By", @readonly = "" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Approval1Id.FullName, "Approved 1", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="input-group input-large">
                                    <div class="input-icon">
                                        <i class="fa fa-user fa-fw"></i>
                                        @Html.TextBoxFor(model => model.Approval1Id.FullName, new { @class = "form-control", placeholder = "Approved 1", @readonly = "" })
                                    </div>
                                </div>
                                <span class="help-block">(VP Requestor)</span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.CheckById.FullName, "Checked By", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="input-group input-large">
                                    <div class="input-icon">
                                        <i class="fa fa-user fa-fw"></i>
                                        @Html.TextBoxFor(model => model.CheckById.FullName, new { @class = "form-control", placeholder = "Checked By", @readonly = "" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Approval2Id.FullName, "Approved 2", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="input-group input-large">
                                    <div class="input-icon">
                                        <i class="fa fa-user fa-fw"></i>
                                        @Html.TextBoxFor(model => model.Approval2Id.FullName, new { @class = "form-control", placeholder = "Approved 2", @readonly = "" })
                                    </div>
                                </div>
                                <span class="help-block">(VP Business)</span>
                            </div>
                        </div>

                    </div>


                    <!--/span-->
                </div>


            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <!-- END FORM-->
    </div>
</div>









