﻿@using ESS.Common
@using Newtonsoft.Json

@model ESS.Data.Model.RequestAccessModel

@{
    ViewBag.Title = "REQUEST ACCESS FORM";

    string jsonModel = JsonConvert.SerializeObject(Model);
    string GetCurrentAccess = ESS.BusinessLogic.UserLogic.GetCurrentAccess;
    bool IsHaveAccessFinsih = (GetCurrentAccess == ROLE.ADMINISTRATOR);
    bool IsHaveAccessIT = (GetCurrentAccess == ROLE.IT);
    bool IsCanEdit = false;

    if (Model.ID == Guid.Empty || Model.StatusWorkFlow == REQUEST_STATUS.NEW || String.IsNullOrEmpty(Model.StatusWorkFlow) || Model.StatusWorkFlow == REQUEST_STATUS.REVISION)
    {
        IsCanEdit = true;
    }
}

@section Styles {
    <link href="~/Assets/bower_components/jQuery-Autocomplete/content/styles.css" rel="stylesheet">
    <link href="~/Assets/bower_components/icheck-1.x/skins/square/blue.css" rel="stylesheet">
    <style>
        #table-access.table th, .table td
        {
            padding-bottom: 5px;
        }
    </style>
}

@section BreadCrumb {
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Home.Index())">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Request.Access())">IT SERVICE</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Request.AccessDetail(Guid.Empty))">Entry Request Access</a>
        </li>
    </ul>
}




<form ng-app="JResourcesApp" ng-controller="JResourcesController" action="@Url.Action(MVC.Request.AccessDetail())" method="post">
    <div class="row" style="min-height: 500px;">

        <div class="col-lg-8 col-xxl-8">
            <div class="element-box">

                <h5 class="form-header">
                    @(ViewBag.Title != null ? ViewBag.Title : "Title Page")
                </h5>

                <fieldset class="form-group">
                    <legend><span>Document Info</span></legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestAccessNo, "Request Access No")
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-doc"></i>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.ID)
                                    @Html.TextBoxFor(x => x.RequestAccessNo, new { @class = "form-control", @placeholder = "Auto Generate", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.StatusWorkFlow, "Request Status")
                                @Html.TextBoxFor(x => x.StatusWorkFlow, new { @class = "form-control", @placeholder = "NEW", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Request Date</label>
                                <div class="date-input">
                                    <input class="form-control" placeholder="Request Date" type="text" value="@Model.RequestDateStr" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>


                <fieldset class="form-group">
                    <legend><span>User Info</span></legend>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.FullName, "Full Name")


                                @if (IsCanEdit)
                                {
                                    @Html.TextBoxFor(x => x.RequestUser.FullName, new { @ng_model = "Model.RequestUser.FullName", @class = "form-control", @placeholder = "Full Name" })
                                }
                                else
                                {
                                    <input type="text" id="RequestUser_FullNameRead" class="form-control" ng-model="Model.RequestUser.FullName" readonly="" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.NIKSite, "NIK Site")
                                @Html.TextBoxFor(x => x.RequestUser.NIKSite, new { @ng_model = "Model.RequestUser.NIKSite", @class = "form-control", @placeholder = "NIK Site", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.CompanyName, "Company")
                                @Html.TextBoxFor(x => x.RequestUser.CompanyName, new { @ng_model = "Model.RequestUser.CompanyName", @class = "form-control", @placeholder = "Company", @readonly = "" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.DepartmentName, "Department")
                                @Html.TextBoxFor(x => x.RequestUser.DepartmentName, new { @ng_model = "Model.RequestUser.DepartmentName", @class = "form-control", @placeholder = "Department", @readonly = "" })
                            </div>
                        </div>
                    </div>
                </fieldset>



                <fieldset id="appointment-form" class="form-group" style="@(!Model.IsDocumentCenter ? "display:none;":"")">
                    <legend><span>Letter of Appointment</span></legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Letter of Appointment Date</label>
                                <div class="form-group">
                                    <div class="date-input">
                                        @Html.TextBoxFor(x => x.AppointmentDateStr, new { @ng_model = "Model.AppointmentDateStr", @class = "single-daterange form-control", @placeholder = "Date Appointment" })
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                @Html.LabelFor(x => x.AppointmentUser.FullName, "Appoint and Delegate To")


                                @if (IsCanEdit)
                                {
                                    @Html.TextBoxFor(x => x.AppointmentUser.FullName, new { @ng_model = "Model.AppointmentUser.FullName", @class = "form-control", @placeholder = "Full Name" })
                                }
                                else
                                {
                                    <input type="text" id="AppointmentUser_FullNameRead" class="form-control" ng-model="Model.AppointmentUser.FullName" readonly="" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.AppointmentUser.NIKSite, "NIK Site")
                                @Html.TextBoxFor(x => x.AppointmentUser.NIKSite, new { @ng_model = "Model.AppointmentUser.NIKSite", @class = "form-control", @placeholder = "NIK Site", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.AppointmentUser.Jabatan, "Position")
                                @Html.TextBoxFor(x => x.AppointmentUser.Jabatan, new { @ng_model = "Model.AppointmentUser.Jabatan", @class = "form-control", @placeholder = "Position", @readonly = "" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.AppointmentUser.DepartmentName, "Department")
                                @Html.TextBoxFor(x => x.AppointmentUser.DepartmentName, new { @ng_model = "Model.AppointmentUser.DepartmentName", @class = "form-control", @placeholder = "Department", @readonly = "" })
                            </div>
                        </div>
                    </div>
                </fieldset>



                <div class="form-group">
                    <label>Special Notes for special request access :</label>
                    @if (IsCanEdit)
                    {
                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @rows = "5" })
                    }
                    else
                    {
                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @rows = "5", @readonly = "" })
                    }
                </div>

                <label>File Attachment :</label>

                @if (Model.ID != Guid.Empty && (IsCanEdit || IsHaveAccessFinsih || IsHaveAccessIT))
                {
                    <div id="form-upload" class="element-box dropzone-view">
                        <div class="dz-message">
                            <div>
                                <h4>Drop files here or click to upload.</h4>
                                <div class="text-muted">(Documents must be saved first, then you can put the file)</div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="element-box dropzone-view" style="cursor: not-allowed;">
                        <div class="dz-message" style="cursor: not-allowed;">
                            <div style="cursor: not-allowed;">
                                <h4 style="cursor: not-allowed;">Drop files here or click to upload.</h4>
                                <div class="text-muted" style="cursor: not-allowed;">(Documents must be saved first, then you can put the file)</div>
                            </div>
                        </div>
                    </div>
                    <div id="form-upload"></div>
                }

                <div class="table-responsive">
                    <table class="table table-lightborder table-sm">
                        <tbody>
                            <tr ng-repeat="item in Model.FileAttachments" id="{{ $index+1 }}">
                                <td>{{ $index+1 }}</td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ item.FileName }}</small>
                                </td>

                                <td class="text-justify">
                                    <a class="text-success" href="{{ item.LinkDownloadFile }}" download><i class="fa fa-download"></i>Download</a>
                                </td>

                                @if (Model.ID != Guid.Empty && (IsCanEdit || IsHaveAccessFinsih || IsHaveAccessIT))
                                {
                                    <td class="text-justify">
                                        <a class="text-danger" href="#{{ $index+1 }}" ng-click="DeleteFile(item)"><i class="os-icon os-icon-ui-15"></i>Delete</a>
                                    </td>
                                }

                            </tr>


                        </tbody>
                    </table>
                </div>




                @if (IsCanEdit)
                {
            <fieldset class="form-group">
                <legend><span>List User Approval</span></legend>
                <!--if document center-->
                <div class="table-responsive" id="listapprovaldc">
                    <table class="table table-lightborder table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    NIK Site
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Jabatan
                                </th>

                            </tr>
                        </thead>
                        <tbody ng-hide="!(Model.Manager.NIKSite)">
                            <tr>
                                <td>1</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.Manager.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.Manager.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.Manager.Jabatan }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.VP.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.VP.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.VP.Jabatan }}</small>
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>JRN0096</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>KURNIAWATI CIPUTRA</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>Head of Business Procedure & Document Management</small>
                                </td>
                            </tr>

                            <tr>
                                <td>4</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ITAdmin.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.ITAdmin.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.ITAdmin.Jabatan }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ITSPV.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.ITSPV.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.ITSPV.Jabatan }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ManagerIT.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.ManagerIT.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.ManagerIT.Jabatan }}</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end if document center-->

                <div class="table-responsive" id="listapproval">
                    <table class="table table-lightborder table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    NIK Site
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Jabatan
                                </th>

                            </tr>
                        </thead>
                        <tbody ng-hide="!(Model.Manager.NIKSite)">
                            <tr>
                                <td>1</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.Manager.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.Manager.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.Manager.Jabatan }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.VP.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.VP.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.VP.Jabatan }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ITAdmin.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.ITAdmin.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.ITAdmin.Jabatan }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ITSPV.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.ITSPV.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.ITSPV.Jabatan }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ManagerIT.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.ManagerIT.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.ManagerIT.Jabatan }}</small>
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>6</td>
                                <td>
                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.VPIT.NIKSite }}</small></span>
                                </td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ Model.VPIT.FullName }}</small>
                                </td>
                                <td id="manager_jabatan" class="text-justify">
                                    <small>{{ Model.VPIT.Jabatan }}</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </fieldset>
                    
                 }

                @if (Model.LogHistories.Count > 0)
                {

                    <fieldset class="form-group">
                        <legend><span>List History Work Flow</span></legend>
                        <div class="table-responsive">
                            <table class="table table-lightborder table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            NIK Site
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Jabatan
                                        </th>
                                        <th class="text-justify">
                                            Status
                                        </th>
                                        <th class="text-right">
                                            Last Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.LogHistories.Count; i++)
                                    {
                                        var itemHistory = Model.LogHistories[i];

                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>
                                                <span class="d-none d-xl-inline-block"><small>@itemHistory.NIKSite</small></span>
                                            </td>
                                            <td id="manager_fullName" class="text-justify">
                                                <small>@itemHistory.Nama</small>
                                            </td>
                                            <td id="manager_jabatan" class="text-justify">
                                                <small>@itemHistory.Jabatan</small>
                                            </td>
                                            <td class="text-justify">
                                                @if (itemHistory.IsApprove)
                                                {
                                                    <i class="fa fa-check text-success"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-close text-danger"></i>
                                                }
                                            </td>
                                            <td class="text-right">
                                                @if (itemHistory.ActionTime.HasValue)
                                                {
                                                    <span>@itemHistory.ActionTime.Value.ToLabelDateSimple()</span><span class="smaller lighter"> @(itemHistory.ActionTime.Value.Hour):@(itemHistory.ActionTime.Value.Minute) @String.Format("{0:tt}", itemHistory.ActionTime.Value)</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="padding: 5px 5px 20px 50px;">
                                                <b>Comment :</b>
                                                <br />@itemHistory.Action
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    </fieldset>
                }


            <div class="form-buttons-w">
                @if (IsCanEdit)
                {
                    <button class="btn btn-primary" type="submit">Save</button>
                }

                @if (Model.ID != Guid.Empty && Model.StatusWorkFlow == REQUEST_STATUS.NEW || Model.StatusWorkFlow == REQUEST_STATUS.REVISION)
                {
                    <a href="@Url.Action(MVC.Request.SubmitRequestAccess(Model.ID))" class="btn btn-info">Submit</a>
                }

                @*@if (Model.IsDocumentCenter && Model.ID != Guid.Empty)
                {
                    <a href="~/PrintForm.aspx?FormType=DC&id=@Model.ID" target="_blank" class="btn btn-info pull-right">Letter of Appointment</a>
                }*@
            </div>

            </div>

        </div>

        <div class="col-lg-4 col-xxl-4">

            <div class="content-panel compact color-scheme-dark">
                <div class="content-panel-close">
                    <i class="os-icon os-icon-close"></i>
                </div>


                <div class="element-wrapper compact">

                    <h6 class="element-header" style="margin-bottom: 5px;">List Access</h6>
                    <div class="element-box-tp">
                        <table id="table-access" class="table table-striped ">
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="IsEmailAddresAccess">
                                            Email Address<br />
                                            <small>(firstname.lastname@domain.com)</small>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsEmailAddresAccess" @(Model.IsEmailAddresAccess ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsEmailAddresAccess")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="IsUSBPortAccess">
                                            USB Port Access<br />
                                            <small>(Read/Read + Write)</small>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsUSBPortAccess" @(Model.IsUSBPortAccess ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsUSBPortAccess")
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="IsVPNAccess">VPN Access</label>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsVPNAccess" @(Model.IsVPNAccess ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsVPNAccess")
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="IsMSR">
                                            MSR<br />
                                            <small>(Material Request Form)</small>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsMSR" @(Model.IsMSR ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsMSR")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="IsHRMS">
                                            HRMS<br />
                                            <small>(Human Resources Management System)</small>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsHRMS" @(Model.IsHRMS ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsHRMS")
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="IsCEA">
                                            CEA<br />
                                            <small>(Capital Expenditure Asset)</small>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsCEA" @(Model.IsCEA ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsCEA")
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="IsNonEmployee">Non Employee</label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsNonEmployee" @(Model.IsNonEmployee ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsNonEmployee")
                                    </td>
                                </tr>

                                <tr style="display: none;">
                                    <td>
                                        Email to External Doman
                                        <br />
                                        <small>(Outside Domain)</small>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsEmailAddresToExtAccess" @(Model.IsEmailAddresToExtAccess ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsEmailAddresToExtAccess")
                                    </td>
                                </tr>

                                <tr style="display: none;">
                                    <td>
                                        Internet Access<br />
                                        <small>(wifi / cable)</small>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsInternetAccess" @(Model.IsInternetAccess ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsInternetAccess")
                                    </td>
                                </tr>

                                <tr style="display: none;">
                                    <td>
                                        Sharepoint Access
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsSharepointAccess" @(Model.IsSharepointAccess ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsSharepointAccess")
                                    </td>
                                </tr>

                                <tr style="display: none;">
                                    <td>
                                        Email Domain Register
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsEmailDomainRegister" @(Model.IsEmailDomainRegister ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsEmailDomainRegister")
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="IsAccpacAccess">ACCPAC</label>

                                    </td>
                                    <td class="row-actions">
                                    </td>
                                </tr>



                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsACCFIN">
                                            Finance
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsACCFIN" @(Model.IsACCFIN ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsACCFIN")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsACCACC">
                                            Accounting
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsACCACC" @(Model.IsACCACC ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsACCACC")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsACCPRC">
                                            Procurement
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsACCPRC" @(Model.IsACCPRC ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsACCPRC")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsACCWHD">
                                            Warehouse
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsACCWHD" @(Model.IsACCWHD ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsACCWHD")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsACCCMS">
                                            CMMS Maintenance
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsACCCMS" @(Model.IsACCCMS ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsACCCMS")
                                    </td>
                                </tr>




                                <tr>
                                    <td>
                                        <label for="IsJOLIS">
                                            JOLIS <small>(JResources Online System)</small>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        @*<input type="checkbox" id="IsJOLIS" class="list-access-checked" data-name="IsJOLIS" @(Model.IsJOLIS ? "checked" : "") @(IsCanEdit ? "" : "disabled") />
                @Html.Hidden("IsJOLIS")*@
                                    </td>
                                </tr>



                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsJMINE">
                                            Mining
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsJMINE" @(Model.IsJMINE ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsJMINE")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsJPLT">
                                            Plant
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsJPLT" @(Model.IsJPLT ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsJPLT")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsJGEO">
                                            Mine Geo
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsJGEO" @(Model.IsJGEO ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsJGEO")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsJEHS">
                                            EHS
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsJEHS" @(Model.IsJEHS ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsJEHS")
                                    </td>
                                </tr>





                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsJEHS">
                                            Maintenance
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsJMAINTENANCE" @(Model.IsJMAINTENANCE ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsJMAINTENANCE")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsJEHS">
                                            SCM
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsJSCM" @(Model.IsJSCM ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsJSCM")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsJEHS">
                                            Corporate Affair
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsJCAFFAIR" @(Model.IsJCAFFAIR ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsJCAFFAIR")
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="padding-left: 50px;">
                                        <label for="IsJEHS">
                                            MEMO
                                        </label>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsJMEMO" @(Model.IsJMEMO ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsJMEMO")
                                    </td>
                                </tr>






                                <tr>
                                    <td>
                                        <label for="IsDocumentCenter">Document Center</label>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" id="checkbox-document-center" class="" data-name="IsDocumentCenter" @(Model.IsDocumentCenter ? "checked" : "") @(IsCanEdit ? (!Model.IsDocumentCenter && Model.ID != Guid.Empty ? "disabled" : "") : "disabled") onclick="GetApproval(document.getElementById('RequestUser_NIKSite').value);"/>
                                        @Html.Hidden("IsDocumentCenter")
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="IsOther">Others</label>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="list-access-checked" data-name="IsOther" @(Model.IsOther ? "checked" : "") @(IsCanEdit ? (Model.IsDocumentCenter ? "disabled" : "") : "disabled") />
                                        @Html.Hidden("IsOther")
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
</form>

@section Scripts {
    <script type="text/javascript" src="~/Assets/bower_components/jQuery-Autocomplete/src/jquery.autocomplete.js"></script>
    <script src="~/Assets/bower_components/icheck-1.x/icheck.min.js"></script>

    <script>
        var objModel = function () { return @Html.Raw(jsonModel) };
        var reqnik = '';

        var app = angular.module('JResourcesApp', []);
        app.controller('JResourcesController', function ($scope, $http, $log) {
            $scope.Model = objModel();

            $('#checkbox-document-center').click(function () {

            });
                      
                 $('#RequestUser_FullName').autocomplete({
                    minChars: 3,
                    serviceUrl: '@Url.Action(MVC.JsonData.SearchUser())',
                    onSelect: function (suggestion) {
                        reqnik = suggestion.data.NIKSITE
                        $('#RequestUser_FullName').val(suggestion.data.Nama);
                        $('#RequestUser_NIKSite').val(suggestion.data.NIKSITE);
                        $('#RequestUser_CompanyName').val(suggestion.data.NmCompany);
                        $('#RequestUser_DepartmentName').val(suggestion.data.nmDepar);

                        $scope.Model.RequestUser.FullName = suggestion.data.Nama;
                        $scope.Model.RequestUser.NIKSite = suggestion.data.NIKSITE;
                        $scope.Model.RequestUser.CompanyName = suggestion.data.NmCompany;
                        $scope.Model.RequestUser.DepartmentName = suggestion.data.nmDepar;


                        GetApproval(suggestion.data.NIKSITE);
                        $log.info(suggestion.data);
                    }
                });

            


            $('#AppointmentUser_FullName').autocomplete({
                minChars: 3,
                serviceUrl: '@Url.Action(MVC.JsonData.SearchUser())',
                onSelect: function (suggestion) {

                    $('#AppointmentUser_FullName').val(suggestion.data.Nama);
                    $('#AppointmentUser_NIKSite').val(suggestion.data.NIKSITE);
                    $('#AppointmentUser_Jabatan').val(suggestion.data.nmJabat);
                    $('#AppointmentUser_DepartmentName').val(suggestion.data.nmDepar);

                    $scope.Model.AppointmentUser.FullName = suggestion.data.Nama;
                    $scope.Model.AppointmentUser.NIKSite = suggestion.data.NIKSITE;
                    $scope.Model.AppointmentUser.Jabatan = suggestion.data.nmJabat;
                    $scope.Model.AppointmentUser.DepartmentName = suggestion.data.nmDepar;

                    $log.info(suggestion.data);
                }
            });


            //$('.list-access-checked').change(function () {
            //    var name = $(this).data('name');
            //    console.log($(this)[0].checked);
            //    $('#' + name).val($(this)[0].checked);

            //    if (name == "IsMSR" && $(this)[0].checked) {
            //        alert('Explain about the role in description');
            //    }

            //});

            function GetApproval(nikSITE) {
                var uri = ""
                var name = $(this).data('name');
                console.log($(this)[0].checked);
                $('#' + name).val($(this)[0].checked);

                var checkBox = document.getElementById("checkbox-document-center");
                if (checkBox.checked == true){
                    uri = "@Url.Action(MVC.JsonData.GetListApprovalDoccenter("NIKSiteValue"))";
                    $('#listapproval').hide();
                    $('#listapprovaldc').show();
                } else {
                    uri = "@Url.Action(MVC.JsonData.GetListApproval("NIKSiteValue"))";
                    $('#listapprovaldc').hide();
                    $('#listapproval').show();
                }
                $http({
                    method: 'GET',
                    url: uri.replace('NIKSiteValue', nikSITE)
                }).then(function successCallback(response) {

                    $scope.Model.Manager = response.data.Manager;
                    $scope.Model.VP = response.data.VP;
                    $scope.Model.ManagerIT = response.data.ManagerIT;
                    $scope.Model.VPIT = response.data.VPIT;
                    $scope.Model.ITAdmin = response.data.ITAdmin;
                    $scope.Model.ITSPV = response.data.ITSPV;


                    $('#list-approval').slideToggle();

                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }

            function RefreshListFile() {
                var uri = "@Url.Action(MVC.JsonData.GetListFile("documentNoValue"))";

                $http({
                    method: 'GET',
                    url: uri.replace('documentNoValue', $('#RequestAccessNo').val())
                }).then(function successCallback(response) {

                    $scope.Model.FileAttachments = response.data;

                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }


            var myDropzone = new Dropzone("#form-upload", {
                //autoProcessQueue: false,
                //addRemoveLinks: true,
                url: "@Url.Action(MVC.JsonData.SaveUploadedFile())",
                //acceptedFiles: "image/*,application/pdf",
                parallelUploads: 10,
                params: {
                    DocumentNo: $('#RequestAccessNo').val()
                },
            });

            myDropzone.on("complete", function (file) {
                alert("File " + file.name + " success to upload");
                myDropzone.removeAllFiles(true);
                RefreshListFile();
            });

            $scope.DeleteFile = function (item) {
                var uri = "@Url.Action(MVC.JsonData.DeleteFile())";

                $http({
                    method: 'GET',
                    url: uri + "?FileId=" + item.ID
                }).then(function successCallback(response) {

                    alert(response.data.Message);
                    RefreshListFile();
                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }

             $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

            $('input').on('ifChanged', function (event) {

                var name = $(this).data('name');
                console.log($(this)[0].checked);
                $('#' + name).val($(this)[0].checked);

                if (name == "IsMSR" && $(this)[0].checked) {
                    alert('Explain about the role in description');
                }


                if (name == "IsDocumentCenter") {
                    GetApproval(reqnik);
                    if ($(this)[0].checked) {
                        $('.list-access-checked').iCheck('uncheck');
                        $('.list-access-checked').iCheck('disable');
                        $('#appointment-form').show();
                    } else {
                        $('#appointment-form').hide();
                        $('#AppointmentUser_FullName').val('');
                        $('#AppointmentUser_NIKSite').val('');
                        $('#AppointmentUser_Jabatan').val('');
                        $('#AppointmentUser_DepartmentName').val('');
                    }
                } else {
                    if (!($('.list-access-checked:checkbox:checked').length > 0)) {
                        $('#checkbox-document-center').iCheck('enable');
                    }
                }

                if (name == "IsDocumentCenter" && !$(this)[0].checked) {
                    
                    $('.list-access-checked').iCheck('enable');
                }

            });

            $('#checkbox-document-center').trigger('change');
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            var checkBox = document.getElementById("checkbox-document-center");
            if (checkBox.checked == true) {
                 $('#listapproval').hide();
                    $('#listapprovaldc').show();
            } else {
                 $('#listapprovaldc').hide();
                    $('#listapproval').show();
            }

            $('#checkbox-document-center').click(function () {
                if ($(this).is(':checked')) {
                    confirm("doc check!");
                    $('#appointment-form').show();
                    $('.list-access-checked').iCheck('uncheck');
                    $('.list-access-checked').iCheck('disable');

                    $('#RequestUser_FullName').val('');
                    $('#RequestUser_NIKSite').val('');
                    $('#RequestUser_CompanyName').val('');
                    $('#RequestUser_DepartmentName').val('');

                    $('#AppointmentUser_FullName').val('');
                    $('#AppointmentUser_NIKSite').val('');
                    $('#AppointmentUser_Jabatan').val('');
                    $('#AppointmentUser_DepartmentName').val('');
                } else {
                    confirm("doc uncheck!");
                    $('#appointment-form').hide();
                        $('#AppointmentUser_FullName').val('');
                        $('#AppointmentUser_NIKSite').val('');
                        $('#AppointmentUser_Jabatan').val('');
                        $('#AppointmentUser_DepartmentName').val('');
                }
                
            });

            //-----------------------------------------------------------------------
        var objModel = function () { return @Html.Raw(jsonModel) };
        var reqnik = '';

        var app = angular.module('JResourcesApp', []);
            app.controller('JResourcesController', function ($scope, $http, $log) {
                $scope.Model = objModel();

                $('#checkbox-document-center').click(function () {

                });

                $('#RequestUser_FullName').autocomplete({
                    minChars: 3,
                    serviceUrl: '@Url.Action(MVC.JsonData.SearchUserDC())',
                    onSelect: function (suggestion) {
                        reqnik = suggestion.data.NIKSITE
                        $('#RequestUser_FullName').val(suggestion.data.Nama);
                        $('#RequestUser_NIKSite').val(suggestion.data.NIKSITE);
                        $('#RequestUser_CompanyName').val(suggestion.data.NmCompany);
                        $('#RequestUser_DepartmentName').val(suggestion.data.nmDepar);

                        $scope.Model.RequestUser.FullName = suggestion.data.Nama;
                        $scope.Model.RequestUser.NIKSite = suggestion.data.NIKSITE;
                        $scope.Model.RequestUser.CompanyName = suggestion.data.NmCompany;
                        $scope.Model.RequestUser.DepartmentName = suggestion.data.nmDepar;

                        GetApproval(suggestion.data.NIKSITE);
                        $log.info(suggestion.data);
                    }
                });

                $('#AppointmentUser_FullName').autocomplete({
                    minChars: 3,
                    serviceUrl: '@Url.Action(MVC.JsonData.SearchUser())',
                    onSelect: function (suggestion) {

                        $('#AppointmentUser_FullName').val(suggestion.data.Nama);
                        $('#AppointmentUser_NIKSite').val(suggestion.data.NIKSITE);
                        $('#AppointmentUser_Jabatan').val(suggestion.data.nmJabat);
                        $('#AppointmentUser_DepartmentName').val(suggestion.data.nmDepar);

                        $scope.Model.AppointmentUser.FullName = suggestion.data.Nama;
                        $scope.Model.AppointmentUser.NIKSite = suggestion.data.NIKSITE;
                        $scope.Model.AppointmentUser.Jabatan = suggestion.data.nmJabat;
                        $scope.Model.AppointmentUser.DepartmentName = suggestion.data.nmDepar;

                        $log.info(suggestion.data);
                    }
                });

                function GetApproval(nikSITE) {
                    var uri = ""
                    var name = $(this).data('name');
                    console.log($(this)[0].checked);
                    $('#' + name).val($(this)[0].checked);

                    var checkBox = document.getElementById("checkbox-document-center");
                    if (checkBox.checked == true) {
                        uri = "@Url.Action(MVC.JsonData.GetListApprovalDoccenter("NIKSiteValue"))";
                        $('#listapproval').hide();
                        $('#listapprovaldc').show();
                    } else {
                        uri = "@Url.Action(MVC.JsonData.GetListApproval("NIKSiteValue"))";
                        $('#listapprovaldc').hide();
                        $('#listapproval').show();
                    }
                    $http({
                        method: 'GET',
                        url: uri.replace('NIKSiteValue', nikSITE)
                    }).then(function successCallback(response) {

                        $scope.Model.Manager = response.data.Manager;
                        $scope.Model.VP = response.data.VP;
                        $scope.Model.ManagerIT = response.data.ManagerIT;
                        $scope.Model.VPIT = response.data.VPIT;
                        $scope.Model.ITAdmin = response.data.ITAdmin;
                        $scope.Model.ITSPV = response.data.ITSPV;


                        $('#list-approval').slideToggle();

                        //unBlockElement(elementBlock);
                    }, function errorCallback(response) {
                        console.log(response);
                        //unBlockElement(elementBlock);
                    });
                }
            });
        });

        
    </script>


}

