﻿@using ESS.Common
@using Newtonsoft.Json

@model ESS.Data.Model.RequestDeviceModel

@{
    ViewBag.Title = "REQUEST DEVICE FORM";

    string jsonModel = JsonConvert.SerializeObject(Model);
    string jsonItem = JsonConvert.SerializeObject(new ESS.Data.Model.RequestDeviceItemModel());
    string GetCurrentAccess = ESS.BusinessLogic.UserLogic.GetCurrentAccess;
    bool IsHaveAccessFinsih = (GetCurrentAccess == ROLE.ADMINISTRATOR);
    bool IsHaveAccessIT = (GetCurrentAccess == ROLE.IT);
    bool IsCanEdit = false;

    if (Model.ID == Guid.Empty || Model.StatusWorkFlow == REQUEST_STATUS.NEW || String.IsNullOrEmpty(Model.StatusWorkFlow) || Model.StatusWorkFlow == REQUEST_STATUS.REVISION)
    {
        IsCanEdit = true;
    }
}

@section Styles {
    <link href="~/Assets/bower_components/jQuery-Autocomplete/content/styles.css" rel="stylesheet">
}

@section BreadCrumb {
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Home.Index())">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Request.Access())">IT SERVICE</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Request.DeviceDetail(Guid.Empty))">Entry Request Access</a>
        </li>
    </ul>
}



<form ng-app="JResourcesApp" ng-controller="JResourcesController" action="@Url.Action(MVC.Request.DeviceDetail())" method="post">


    <div class="row" style="min-height: 500px;">
        <div class="col-lg-12 col-xxl-12">
            <div class="element-box">

                <h5 class="form-header">
                    @(ViewBag.Title != null ? ViewBag.Title : "Title Page")
                </h5>

                <fieldset class="form-group">
                    <legend><span>Document Info</span></legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestDeviceNo, "Request Device No")
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-doc"></i>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.ID)
                                    @Html.TextBoxFor(x => x.RequestDeviceNo, new { @class = "form-control", @placeholder = "Auto Generate", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.StatusWorkFlow, "Request Status")
                                @Html.TextBoxFor(x => x.StatusWorkFlow, new { @class = "form-control", @placeholder = "NEW", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Request Date</label>
                                <div class="date-input">
                                    <input class="form-control" placeholder="Request Date" type="text" value="@Model.RequestDateStr" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <legend><span>List Device Request</span></legend>

                    @if (IsCanEdit)
                    {
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button ng-click="openItemModal()" class="btn btn-primary" type="button">Add Device Request</button>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 50px;">No
                                </th>
                                <th>ITEM DETAIL
                                </th>
                                <th style="width: 100px;">QTY
                                </th>
                                <th style="width: 100px;">STATUS
                                </th>
                                <th class="text-justify">NOTES
                                </th>
                                <th style="width: 80px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.RequestDeviceItems | filter:{IsDeleted:false} as result track by $index ">
                                <td>{{ $index+1 }}
                                </td>
                                <td>
                                    <small>{{ item.ItemName }}</small>
                                    <input type="hidden" name="RequestDeviceItems[{{$index}}].ID" value="{{ item.ID }}" />
                                    <input type="hidden" name="RequestDeviceItems[{{$index}}].ItemName" value="{{ item.ItemName }}" />
                                </td>
                                <td>{{ item.Qty }}
                                    <input type="hidden" name="RequestDeviceItems[{{$index}}].Qty" value="{{ item.Qty }}" />
                                </td>
                                <td class="text-justify">
                                    <span class="badge badge-info-inverted">{{ item.ItemStatus }}</span>
                                    <input type="hidden" name="RequestDeviceItems[{{$index}}].ItemStatus" value="{{ item.ItemStatus }}" />
                                </td>
                                <td class="text-justify">
                                    <b>User :</b>
                                    <small>{{ item.Note }}</small>

                                    <br />
                                    <b>Admin :</b>
                                    <small>{{ item.NoteAdmin }}</small>

                                    <input type="hidden" name="RequestDeviceItems[{{$index}}].Note" value="{{ item.Note }}" />
                                    <input type="hidden" name="RequestDeviceItems[{{$index}}].NoteAdmin" value="{{ item.NoteAdmin }}" />
                                </td>
                                <td class="row-actions">
                                    @if (IsCanEdit || IsHaveAccessFinsih)
                                    {
                                        <a href="#" ng-click="EditItem(item)"><i class="os-icon os-icon-ui-49"></i></a>
                                        <a href="#" ng-click="RemoveItem(item)" class="danger"><i class="os-icon os-icon-ui-15"></i></a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>

                <fieldset class="form-group">
                    <legend><span>User Info</span></legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.FullName, "Full Name")


                                @if (IsCanEdit)
                                {
                                    @Html.TextBoxFor(x => x.RequestUser.FullName, new { @ng_model = "Model.RequestUser.FullName", @class = "form-control", @placeholder = "Full Name" })
                                }
                                else
                                {
                                    <input type="text" id="RequestUser_FullNameRead" class="form-control" ng-model="Model.RequestUser.FullName" readonly="" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.NIKSite, "NIK Site")
                                @Html.TextBoxFor(x => x.RequestUser.NIKSite, new { @ng_model = "Model.RequestUser.NIKSite", @class = "form-control", @placeholder = "NIK Site", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.CompanyName, "Company")
                                @Html.TextBoxFor(x => x.RequestUser.CompanyName, new { @ng_model = "Model.RequestUser.CompanyName", @class = "form-control", @placeholder = "Company", @readonly = "" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.DepartmentName, "Department")
                                @Html.TextBoxFor(x => x.RequestUser.DepartmentName, new { @ng_model = "Model.RequestUser.DepartmentName", @class = "form-control", @placeholder = "Department", @readonly = "" })
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <label>Special Notes for special request access :</label>
                    @if (IsCanEdit)
                    {
                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @rows = "5" })
                    }
                    else
                    {
                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @rows = "5", @readonly = "" })
                    }
                </div>

                <label>File Attachment :</label>
                
                @if (Model.ID != Guid.Empty && (IsCanEdit || IsHaveAccessFinsih || IsHaveAccessIT))
                {
                    <div id="form-upload" class="element-box dropzone-view">
                        <div class="dz-message">
                            <div>
                                <h4>Drop files here or click to upload.</h4>
                                <div class="text-muted">(Documents must be saved first, then you can put the file)</div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="element-box dropzone-view" style="cursor: not-allowed;">
                        <div class="dz-message" style="cursor: not-allowed;">
                            <div style="cursor: not-allowed;">
                                <h4 style="cursor: not-allowed;">Drop files here or click to upload.</h4>
                                <div class="text-muted" style="cursor: not-allowed;">(Documents must be saved first, then you can put the file)</div>
                            </div>
                        </div>
                    </div>
                    <div id="form-upload"></div>
                }

                <div class="table-responsive">
                    <table class="table table-lightborder table-sm">
                        <tbody>
                            <tr ng-repeat="item in Model.FileAttachments" id="{{ $index+1 }}">
                                <td>{{ $index+1 }}</td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ item.FileName }}</small>
                                </td>

                                <td class="text-justify">
                                    <a class="text-success" href="{{ item.LinkDownloadFile }}" download><i class="fa fa-download"></i>Download</a>
                                </td>

                                @if (Model.ID != Guid.Empty && (IsCanEdit || IsHaveAccessFinsih || IsHaveAccessIT))
                                {
                                    <td class="text-justify">
                                        <a class="text-danger" href="#{{ $index+1 }}" ng-click="DeleteFile(item)"><i class="os-icon os-icon-ui-15"></i>Delete</a>
                                    </td>
                                }

                            </tr>


                        </tbody>
                    </table>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        @if (IsCanEdit)
                        {
                            <fieldset class="form-group">
                                <legend><span>List User Approval</span></legend>
                                <div class="table-responsive">
                                    <table class="table table-lightborder table-sm">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>NIK Site
                                                </th>
                                                <th>Name
                                                </th>
                                                <th>Jabatan
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody ng-hide="!(Model.Manager.NIKSite)">
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.Manager.NIKSite }}</small></span>
                                                </td>
                                                <td id="manager_fullName" class="text-justify">
                                                    <small>{{ Model.Manager.FullName }}</small>
                                                </td>
                                                <td id="manager_jabatan" class="text-justify">
                                                    <small>{{ Model.Manager.Jabatan }}</small>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.VP.NIKSite }}</small></span>
                                                </td>
                                                <td id="manager_fullName" class="text-justify">
                                                    <small>{{ Model.VP.FullName }}</small>
                                                </td>
                                                <td id="manager_jabatan" class="text-justify">
                                                    <small>{{ Model.VP.Jabatan }}</small>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ITAdmin.NIKSite }}</small></span>
                                                </td>
                                                <td id="manager_fullName" class="text-justify">
                                                    <small>{{ Model.ITAdmin.FullName }}</small>
                                                </td>
                                                <td id="manager_jabatan" class="text-justify">
                                                    <small>{{ Model.ITAdmin.Jabatan }}</small>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>
                                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ITSPV.NIKSite }}</small></span>
                                                </td>
                                                <td id="manager_fullName" class="text-justify">
                                                    <small>{{ Model.ITSPV.FullName }}</small>
                                                </td>
                                                <td id="manager_jabatan" class="text-justify">
                                                    <small>{{ Model.ITSPV.Jabatan }}</small>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>
                                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.ManagerIT.NIKSite }}</small></span>
                                                </td>
                                                <td id="manager_fullName" class="text-justify">
                                                    <small>{{ Model.ManagerIT.FullName }}</small>
                                                </td>
                                                <td id="manager_jabatan" class="text-justify">
                                                    <small>{{ Model.ManagerIT.Jabatan }}</small>
                                                </td>
                                            </tr>
                                            <tr style="display:none;">
                                                <td>6</td>
                                                <td>
                                                    <span id="manager_niksite" class="d-none d-xl-inline-block"><small>{{ Model.VPIT.NIKSite }}</small></span>
                                                </td>
                                                <td id="manager_fullName" class="text-justify">
                                                    <small>{{ Model.VPIT.FullName }}</small>
                                                </td>
                                                <td id="manager_jabatan" class="text-justify">
                                                    <small>{{ Model.VPIT.Jabatan }}</small>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </fieldset>
                        }

                        @if (Model.LogHistories.Count > 0)
                        {
                            <fieldset class="form-group">
                                <legend><span>List History Work Flow</span></legend>
                                <div class="table-responsive">
                                    <table class="table table-lightborder table-sm">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>NIK Site
                                                </th>
                                                <th>Name
                                                </th>
                                                <th>Jabatan
                                                </th>
                                                <th class="text-justify">Status
                                                </th>
                                                <th class="text-right">Last Action
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.LogHistories.Count; i++)
                                            {
                                                var itemHistory = Model.LogHistories[i];

                                                <tr>
                                                    <td>@(i + 1)</td>
                                                    <td>
                                                        <span class="d-none d-xl-inline-block"><small>@itemHistory.NIKSite</small></span>
                                                    </td>
                                                    <td id="manager_fullName" class="text-justify">
                                                        <small>@itemHistory.Nama</small>
                                                    </td>
                                                    <td id="manager_jabatan" class="text-justify">
                                                        <small>@itemHistory.Jabatan</small>
                                                    </td>
                                                    <td class="text-justify">
                                                        @if (itemHistory.IsApprove)
                                                        {
                                                            <i class="fa fa-check text-success"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-close text-danger"></i>
                                                        }
                                                    </td>
                                                    <td class="text-right">
                                                        @if (itemHistory.ActionTime.HasValue)
                                                        {
                                                            <span>@itemHistory.ActionTime.Value.ToLabelDateSimple()</span><span class="smaller lighter"> @(itemHistory.ActionTime.Value.Hour):@(itemHistory.ActionTime.Value.Minute) @String.Format("{0:tt}", itemHistory.ActionTime.Value)</span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="padding: 5px 5px 20px 50px;"><b>Comment :</b>
                                                        <br />@itemHistory.Action</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </fieldset>
                        }

                    </div>
                </div>

                <div class="form-buttons-w">
                    @if (IsCanEdit || IsHaveAccessFinsih)
                    {
                        <button class="btn btn-primary" type="submit">Save</button>
                    }

                    @if (Model.ID != Guid.Empty && Model.StatusWorkFlow == REQUEST_STATUS.NEW || Model.StatusWorkFlow == REQUEST_STATUS.REVISION)
                    {
                        <a href="@Url.Action(MVC.Request.SubmitRequestDevice(Model.ID))" class="btn btn-info">Submit</a>
                    }

                </div>

            </div>

        </div>
    </div>



    <div aria-hidden="true" aria-labelledby="itemModalLabel" class="modal fade" id="itemModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel">Device Item Request</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Item Name</label>
                        <input ng-model="ItemDetail.ItemName" class="form-control" placeholder="Enter item name" type="text">
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="">Qty</label>
                                <input ng-model="ItemDetail.Qty" class="form-control" placeholder="Qty" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Status</label>
                                <select ng-model="ItemDetail.ItemStatus" class="form-control">
                                    <option value="NEW">NEW</option>
                                    <option value="REPLACE">REPLACE</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Notes</label>
                        <textarea ng-model="ItemDetail.Note" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="">Notes Admin</label>

                        @if (IsCanEdit || IsHaveAccessIT || IsHaveAccessFinsih)
                        {
                            <textarea ng-model="ItemDetail.NoteAdmin" class="form-control"></textarea>
                        }
                        else
                        {
                            <textarea ng-model="ItemDetail.NoteAdmin" class="form-control" readonly></textarea>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button ng-show="!IsEdit" ng-click="AddItem()" class="btn btn-primary" type="button">Add Item Device</button>
                    <button ng-show="IsEdit" ng-click="CloseEdit()" class="btn btn-primary" type="button">Edit Item Device</button>
                </div>
            </div>
        </div>
    </div>


</form>




@section Scripts {
    <script type="text/javascript" src="~/Assets/bower_components/jQuery-Autocomplete/src/jquery.autocomplete.js"></script>

    <script>
        var objModel = function () { return @Html.Raw(jsonModel) };
        var objItem = function () { return @Html.Raw(jsonItem) };

        var app = angular.module('JResourcesApp', []);
        app.controller('JResourcesController', function ($scope, $http, $log) {
            $scope.Model = objModel();
            $scope.ItemDetail = objItem();

            $scope.IsEdit = false;


            $scope.openItemModal = function () {
                $scope.ItemDetail = objItem();
                $('#itemModal').modal('show');
                $scope.IsEdit = false;
            }

            $scope.AddItem = function () {
                if (ValidationForm()) {

                    $scope.Model.RequestDeviceItems.push($scope.ItemDetail);
                    $('#itemModal').modal('hide');

                }
            }

            $scope.EditItem = function (item) {
                $scope.ItemDetail = item;
                $('#itemModal').modal('show');
                $scope.IsEdit = true;
            }

            $scope.CloseEdit = function (item) {
                if (ValidationForm()) {
                    $('#itemModal').modal('hide');
                }
            }

            $scope.RemoveItem = function (objItem) {
                objItem.IsDeleted = true;
                console.log($scope.Model.RequestDeviceItems);
            }

            var ValidationForm = function () {
                var IsValid = true;

                if (!($scope.ItemDetail.Qty != null && $scope.ItemDetail.Qty != '' && $scope.ItemDetail.Qty > 0)) {
                    alert('Qty cannot be null');
                    IsValid = false;
                }

                if (!($scope.ItemDetail.ItemName != null && $scope.ItemDetail.ItemName != '')) {
                    alert('Item name cannot be null');
                    IsValid = false;
                }

                return IsValid;
            }


            $('#RequestUser_FullName').autocomplete({
                minChars: 3,
                serviceUrl: '@Url.Action(MVC.JsonData.SearchUser())',
                onSelect: function (suggestion) {

                    $('#RequestUser_FullName').val(suggestion.data.Nama);
                    $('#RequestUser_NIKSite').val(suggestion.data.NIKSITE);
                    $('#RequestUser_CompanyName').val(suggestion.data.NmCompany);
                    $('#RequestUser_DepartmentName').val(suggestion.data.nmDepar);

                    $scope.Model.RequestUser.FullName = suggestion.data.Nama;
                    $scope.Model.RequestUser.NIKSite = suggestion.data.NIKSITE;
                    $scope.Model.RequestUser.CompanyName = suggestion.data.NmCompany;
                    $scope.Model.RequestUser.DepartmentName = suggestion.data.nmDepar;


                    GetApproval(suggestion.data.NIKSITE);
                    $log.info(suggestion.data);
                }
            });

            $('.list-access-checked').change(function () {
                var name = $(this).data('name');
                console.log($(this)[0].checked);
                $('#' + name).val($(this)[0].checked);

                if (name == "IsMSR" && $(this)[0].checked) {
                    alert('explain about the role in description');
                }

            });


            function GetApproval(nikSITE) {
                var uri = "@Url.Action(MVC.JsonData.GetListApproval("NIKSiteValue"))";

                $http({
                    method: 'GET',
                    url: uri.replace('NIKSiteValue', nikSITE)
                }).then(function successCallback(response) {

                    $scope.Model.Manager = response.data.Manager;
                    $scope.Model.VP = response.data.VP;
                    $scope.Model.ManagerIT = response.data.ManagerIT;
                    $scope.Model.VPIT = response.data.VPIT;

                    $scope.Model.ITAdmin = response.data.ITAdmin;
                    $scope.Model.ITSPV = response.data.ITSPV;

                    $('#list-approval').slideToggle();

                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }

            function RefreshListFile() {
                var uri = "@Url.Action(MVC.JsonData.GetListFile("documentNoValue"))";

                $http({
                    method: 'GET',
                    url: uri.replace('documentNoValue', $('#RequestDeviceNo').val())
                }).then(function successCallback(response) {

                    $scope.Model.FileAttachments = response.data;

                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }


            var myDropzone = new Dropzone("#form-upload", {
                //autoProcessQueue: false,
                //addRemoveLinks: true,
                url: "@Url.Action(MVC.JsonData.SaveUploadedFile())",
                //acceptedFiles: "image/*,application/pdf",
                parallelUploads: 10,
                params: {
                    DocumentNo: $('#RequestDeviceNo').val()
                },
            });

            myDropzone.on("complete", function (file) {
                alert("File " + file.name + " success to upload");
                myDropzone.removeAllFiles(true);
                RefreshListFile();
            });

            $scope.DeleteFile = function (item) {
                var uri = "@Url.Action(MVC.JsonData.DeleteFile())";

                $http({
                    method: 'GET',
                    url: uri + "?FileId=" + item.ID
                }).then(function successCallback(response) {

                    alert(response.data.Message);
                    RefreshListFile();
                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }



        });








    </script>
}

