﻿@using ESS.Common
@model ESS.Data.Model.RequestDeviceSearchModel
@{
    List<SelectListItem> ListSite = (List<SelectListItem>)ViewBag.ListSite;
    List<SelectListItem> ListStatus = (List<SelectListItem>)ViewBag.ListStatus;
    bool IsHaveAccessFinsih = (ESS.BusinessLogic.UserLogic.GetCurrentAccess == ROLE.ADMINISTRATOR);
}

@section BreadCrumb {
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Home.Index())">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Request.Device())">IT SERVICE</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Request.Device("", "", 1, "", "", ""))">List Request Device</a>
        </li>
    </ul>
}


<div class="element-box">
    <div class="element-info" style="margin-bottom: 1rem;">
        <div class="row align-items-center">
            <div class="col-sm-8">
                <div class="element-info-with-icon">
                    <div class="element-info-icon">
                        <div class="os-icon os-icon-wallet-loaded"></div>
                    </div>
                    <div class="element-info-text">
                        <h5 class="element-inner-header">Request Device
                        </h5>
                        <div class="element-inner-desc">
                            The following is a list of data Device requests that you can Device.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.RequestDeviceNo, new { @class = "form-control", @placeholder = "Request Device No" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Notes, new { @class = "form-control mb-2 mr-sm-2 mb-sm-0", @placeholder = "Notes" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "First Name" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NIKSite, new { @class = "form-control mb-2 mr-sm-2 mb-sm-0", @placeholder = "NIK Site" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.DropDownListFor(x => x.Status, ListStatus, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.DropDownListFor(x => x.Site, ListSite, new { @class = "form-control" })
                </div>
            </div>


        </div>

        <div class="form-buttons-w" style="margin-top: 0;">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="@Url.Action(MVC.Request.Device("", "", 1, "", "", "", "-"))" class="btn btn-outline-secondary">Reset</a>
        </div>
    </form>
</div>

<div class="element-box-tp">
    <div class="table-responsive">
        <table class="table table-padded">
            <thead>
                <tr>
                    <th style="width: 170px;">Request No</th>
                    <th style="width: 30%;">Notes</th>
                    <th>Date Time Info</th>
                    <th>Status</th>
                    <th style="width: 200px;">Next Action</th>
                    <th style="width: 110px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListData)
                {
                    <tr>
                        <td class="cell-with-media smaller">
                            @item.RequestDeviceNo
                        </td>
                        <td>
                            <small>@item.RequestUser.FullName (@item.RequestUser.CompanyName)</small>
                            <div class="smaller lighter">
                                @(!String.IsNullOrEmpty(item.Notes) ? item.Notes.ToLimitDescList() : "-")
                            </div>
                        </td>
                        <td>
                            <table class="table table-lightborder">
                                <tr>
                                    <td style="padding: 0; margin: 0; border: 0;">Created</td>
                                    <td style="padding: 0; margin: 0; border: 0; padding-right: 2px;">:</td>
                                    <td style="padding: 0; margin: 0;">
                                        <span>@item.RequestDate.ToLabelDateSimple()</span><span class="smaller lighter">@(item.RequestDate.Hour):@(item.RequestDate.Minute) @String.Format("{0:tt}", item.RequestDate)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0; margin: 0; border: 0;">Finish</td>
                                    <td style="padding: 0; margin: 0; border: 0;">: </td>
                                    <td style="padding: 0; margin: 0;">
                                        @if (item.IsFinish)
                                        {
                                            <span>@item.FinishDate.ToLabelDateSimple()</span><span class="smaller lighter">@(item.FinishDate.Hour):@(item.FinishDate.Minute) @String.Format("{0:tt}", item.FinishDate)</span>
                                        }
                                        else
                                        {
                                            @Html.Raw(" - ")   
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="text-justify">
                            @Html.Raw(CommonFunction.StatusWorkFlowLabel(item.StatusWorkFlow))
                        </td>
                        <td>
                            @if (item.UserLastAction != null)
                            {
                                <small>@item.UserLastAction.FullName</small>
                                <div class="smaller lighter">
                                    @item.UserLastAction.Jabatan
                                </div>
                            }
                        </td>
                        <td class="row-actions">
                            <a class="text-info" href="~/PrintForm.aspx?FormType=ITDR&id=@item.ID" target="_blank" data-toggle="tooltip" title="" data-original-title="Print Form"><i class="icon-printer"></i></a>
                            <a class="text-info" href="@Url.Action(MVC.Request.DeviceDetail(item.ID))" data-toggle="tooltip" title="" data-original-title="View Detail Request"><i class="fa fa-file-text"></i></a>

                            @if (item.IsFinish)
                            {
                                <a href="#" class="info" data-toggle="tooltip" title="" data-original-title="Request has been finish"><i class="fa fa-check"></i></a>
                            }
                            else
                            {
                                if (IsHaveAccessFinsih && (item.StatusWorkFlow == REQUEST_STATUS.COMPLETE))
                                {
                                <a class="text-success" href="@Url.Action(MVC.Request.FinishRequestDevice(item.ID))" data-toggle="tooltip" title="" data-original-title="To Finish Request"><i class="fa fa-check"></i></a>   
                                }
                                else
                                {
                                <a href="#" class="info" data-toggle="tooltip" title="" data-original-title="the request has not been completed"><i class="fa fa-minus"></i></a>
                                }
                            }
                            @*<a class="info" href="#" data-toggle="tooltip" title="" data-original-title="View Workflow Log"><i class="fa fa-list-ol"></i></a>*@
                        </td>
                    </tr>
                }


            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-12 col-md-5">
                @{
                    var MaxItemInPage = Model.CurrentPage > 1 ? ((Model.CurrentPage - 1) * ESS.Common.SiteSettings.PAGE_SIZE_PAGING) + 1 : 1;
                }

                <div class="dataTables_info" id="dataTable1_info" role="status" aria-live="polite">Showing @MaxItemInPage to @(MaxItemInPage + Model.ListData.Count - 1)</div>
            </div>

            <div class="col-sm-12 col-md-7">
                @if (Model.EndPage > 1)
                {
                    <div class="dataTables_paginate" style="float: right;">
                        <ul class="pagination">
                            @if (Model.CurrentPage > 1)
                            {
                                <li class="paginate_button page-item previous">
                                    <a class="page-link" href="@Url.Action(MVC.Request.Device(Model.RequestDeviceNo, Model.Notes, 1, Model.FullName, Model.NIKSite, Model.Site, "-"))">First
                                    </a>
                                </li>

                                <li class="paginate_button page-item previous">
                                    <a class="page-link" href="@Url.Action(MVC.Request.Device(Model.RequestDeviceNo, Model.Notes, Model.CurrentPage - 1, Model.FullName, Model.NIKSite, Model.Site, "-"))">
                                        <i class="fa fa-backward"></i>
                                    </a>
                                </li>
                            }
                            @for (var page = Model.StartPage; page <= Model.EndPage; page++)
                            {
                                if (page == Model.CurrentPage)
                                {
                                <li class="paginate_button page-item active">
                                    <span class="current page-link">@page</span>
                                </li>
                                }
                                else
                                {
                                <li class="paginate_button page-item">
                                    <a class="page-link" href="@Url.Action(MVC.Request.Device(Model.RequestDeviceNo, Model.Notes, page, Model.FullName, Model.NIKSite, Model.Site, "-"))">@page</a>
                                </li>
                                }
                            }

                            @if (Model.CurrentPage < Model.TotalPages)
                            {
                                <li class="paginate_button page-item next">
                                    <a class="page-link" href="@Url.Action(MVC.Request.Device(Model.RequestDeviceNo, Model.Notes, Model.CurrentPage + 1, Model.FullName, Model.NIKSite, Model.Site, "-"))"><i class="fa fa-forward"></i></a>
                                </li>

                                <li class="paginate_button page-item next">
                                    <a class="page-link" href="@Url.Action(MVC.Request.Device(Model.RequestDeviceNo, Model.Notes, Model.TotalPages, Model.FullName, Model.NIKSite, Model.Site, "-"))">Last</a>
                                </li>
                            }

                        </ul>
                    </div>
                }

            </div>
        </div>

    </div>
</div>


<br />
<br />
<br />
<br />
