﻿@model ESS.Data.Model.UserSearchModel

<div class="modal fade bs-modal-lg" id="employee-lookup" tabindex="-1" role="employee-lookup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box bg-grey-gallery font-grey-gallery" style="margin-bottom: 0;">

                    <div class="portlet-title bg-grey-gallery">
                        <div class="caption">
                            <i class="fa fa-employees"></i>Search employee Lookup
                        </div>

                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Name, "Name", new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(x => x.Name, new { @ng_model = "ModalEmployee.Name", @class = "form-control", @placeholder = "Search By Name", @style = "border: 0;" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.NIKSITE, "NIK", new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(x => x.NIKSITE, new { @ng_model = "ModalEmployee.NIKSITE", @class = "form-control", @placeholder = "Search By NIK", @style = "border: 0;" })
                                    </div>
                                    <div class="col-md-offset-1 col-md-3">
                                        <button ng-click="btnSearchLookupEmployee()" id="btn-search-item" type="button" class="btn blue"><i class="fa fa-search-plus"></i>Search</button>
                                    </div>
                                </div>


                                <table class="table table-bordered table-hover table-list-input" id="table-result-search" style="margin-bottom: 0;">
                                    <thead>
                                        <tr role="row" class="bg-grey-gallery">
                                            <th class="grid-header">Full Name</th>
                                            <th class="grid-header" style="width: 120px;">NIK</th>
                                            <th class="grid-header">Company</th>
                                            <th class="grid-header">Department</th>
                                            <th class="grid-header" style="width: 50px;">
                                                <div class="grid-header-title"><span></span></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="itempart-lookup-result">
                                        <tr ng-repeat="item in ModalEmployee.ListData track by $index">
                                            <td class="input-text"><input ng-model="item.FullName" type="text" class="form-control input-sm" readonly /></td>
                                            <td class="input-text"><input ng-model="item.NIKSite" type="text" class="form-control input-sm" readonly /></td>
                                            <td class="input-text"><input ng-model="item.CompanyName" type="text" class="form-control input-sm" readonly /></td>
                                            <td class="input-text"><input ng-model="item.DepartmentName" type="text" class="form-control input-sm" readonly /></td>
                                            <td class="btn-action" style="padding: 5px;">

                                                <button ng-click="InsertIntoTo(item)" class="btn green btn-xs green-stripe">
                                                    Select
                                                </button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="form-actions" style="padding: 10px;">
                                <div class="row">
                                    <div class="col-md-5">
                                        <ul class="pagination pagination-sm" uib-pagination total-items="Modalemployee.TotalItems" max-size="5" ng-model="Modalemployee.CurrentPage" ng-change="pageChangedemployeeList()" boundary-links="true" num-pages="numPages"></ul>
                                    </div>

                                    <div class="col-md-7">
                                        <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



