﻿@model ESS.Data.Model.DelegationDetailModel

<div class="modal fade bs-modal-lg" id="task-lookup" tabindex="-1" role="task-lookup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box bg-grey-gallery font-grey-gallery" style="margin-bottom: 0;">

                    <div class="portlet-title bg-grey-gallery">
                        <div class="caption">
                            <i class="fa fa-employees"></i>Task Entry
                        </div>

                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">

                                <div class="form-group">
                                    @Html.LabelFor(x => x.ApplicationName, "Application Name", new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        <select ng-model="ModalTask.ApplicationName" class="form-control">
                                            <option>Select</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Fullname, "Name", new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search..." readonly>
                                            <span class="input-group-btn">
                                                <button id="search-to" ng-click="lookupSearch('TO')" class="btn blue" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>

                                        @*@Html.TextBoxFor(x => x.Fullname, new { @ng_model = "ModalTask.Fullname", @class = "form-control", @placeholder = "Search By Name", @style = "border: 0;" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.DepartmentName, "Department", new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(x => x.DepartmentName, new { @ng_model = "ModalTask.DepartmentName", @class = "form-control", @readonly = "", @style = "border: 0;" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-md-offset-8 col-md-3">
                                        <button ng-click="btnSearchLookupEmployee()" id="btn-search-item" type="button" class="btn blue"><i class="fa fa-search-plus"></i>Search</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




