﻿@using ESS.Common
@using Newtonsoft.Json
@using ESS.Data.Model

@model ESS.Data.Model.ChangeRequestModel

@{
    ViewBag.Title = "CHANGE REQUEST FORM";

    UserApprovalChangeRequestModel UserApproval = (UserApprovalChangeRequestModel)ViewBag.ApprovalUser;

    string jsonModel = JsonConvert.SerializeObject(Model);
    string jsonGroupApplication = JsonConvert.SerializeObject(ViewBag.GroupApplication);
    string GetCurrentAccess = ESS.BusinessLogic.UserLogic.GetCurrentAccess;
    bool IsHaveAccessFinsih = (GetCurrentAccess == ROLE.ADMINISTRATOR);
    bool IsHaveAccessIT = (GetCurrentAccess == ROLE.IT);
    bool IsCanEdit = false;


    if (Model.ID == Guid.Empty || Model.StatusWF == REQUEST_STATUS.NEW || String.IsNullOrEmpty(Model.StatusWF) || Model.StatusWF == REQUEST_STATUS.REVISION)
    {
        IsCanEdit = true;
    }
}

@section Styles {
    <link href="~/Assets/bower_components/jQuery-Autocomplete/content/styles.css" rel="stylesheet">
    <link href="~/Assets/bower_components/icheck-1.x/skins/square/blue.css" rel="stylesheet">
    <style>
        #table-access.table th, .table td {
            padding-bottom: 5px;
        }
    </style>
}


@section BreadCrumb {
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Home.Index())">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.ChangeRequest.Index())">IT SERVICE</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.ChangeRequest.Detail(Guid.Empty))">Entry Change Request</a>
        </li>
    </ul>
}


<form ng-app="JResourcesApp" ng-controller="JResourcesController" action="@Url.Action(MVC.ChangeRequest.Detail(Guid.Empty))" method="post">
    <div class="row" style="min-height: 500px;">

        <div class="col-lg-8 col-xxl-8">
            <div class="element-box">

                <h5 class="form-header">
                    @(ViewBag.Title != null ? ViewBag.Title : "Title Page")
                </h5>

                <fieldset class="form-group">
                    <legend><span>Document Info</span></legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ChangeRequestNo, "Change Request No")
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-doc"></i>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.ID)
                                    @Html.TextBoxFor(x => x.ChangeRequestNo, new { @class = "form-control", @placeholder = "Auto Generate", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.StatusWF, "Request Status")
                                @Html.TextBoxFor(x => x.StatusWF, new { @class = "form-control", @placeholder = "NEW", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Request Date</label>
                                <div class="date-input">
                                    <input class="form-control" placeholder="Request Date" type="text" value="@Model.CreatedDateStr" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <legend><span>User Info</span></legend>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.FullName, "Full Name")


                                @if (IsCanEdit)
                                {
                                    @Html.TextBoxFor(x => x.RequestUser.FullName, new { @ng_model = "Model.RequestUser.FullName", @class = "form-control", @placeholder = "Full Name" })
                                }
                                else
                                {
                                    <input type="text" id="RequestUser_FullNameRead" class="form-control" ng-model="Model.RequestUser.FullName" readonly="" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.NIKSite, "NIK Site")
                                @Html.TextBoxFor(x => x.RequestUser.NIKSite, new { @ng_model = "Model.RequestUser.NIKSite", @class = "form-control", @placeholder = "NIK Site", @readonly = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.CompanyName, "Company")
                                @Html.TextBoxFor(x => x.RequestUser.CompanyName, new { @ng_model = "Model.RequestUser.CompanyName", @class = "form-control", @placeholder = "Company", @readonly = "" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestUser.DepartmentName, "Department")
                                @Html.TextBoxFor(x => x.RequestUser.DepartmentName, new { @ng_model = "Model.RequestUser.DepartmentName", @class = "form-control", @placeholder = "Department", @readonly = "" })
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <legend><span>Detail Request</span></legend>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Reason, "Reason For Change (To be filled by Requestor)")
                                @Html.TextAreaFor(x => x.Reason, new { @class = "form-control", @rows = "5" })
                            </div>
                        </div>
                    </div>





                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.DescriptionChange, "Description of Change (To be filled by Requestor)")
                                @Html.TextAreaFor(x => x.DescriptionChange, new { @class = "form-control", @rows = "5" })
                            </div>
                        </div>
                    </div>

                </fieldset>

                <label>File Attachment :</label>

                @if (Model.ID != Guid.Empty && (IsCanEdit || IsHaveAccessFinsih || IsHaveAccessIT))
                {
                    <div id="form-upload" class="element-box dropzone-view">
                        <div class="dz-message">
                            <div>
                                <h4>Drop files here or click to upload.</h4>
                                <div class="text-muted">(Documents must be saved first, then you can put the file)</div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="element-box dropzone-view" style="cursor: not-allowed;">
                        <div class="dz-message" style="cursor: not-allowed;">
                            <div style="cursor: not-allowed;">
                                <h4 style="cursor: not-allowed;">Drop files here or click to upload.</h4>
                                <div class="text-muted" style="cursor: not-allowed;">(Documents must be saved first, then you can put the file)</div>
                            </div>
                        </div>
                    </div>
                    <div id="form-upload"></div>
                }

                <div class="table-responsive">
                    <table class="table table-lightborder table-sm">
                        <tbody>
                            <tr ng-repeat="item in Model.FileAttachments" id="{{ $index+1 }}">
                                <td>{{ $index+1 }}</td>
                                <td id="manager_fullName" class="text-justify">
                                    <small>{{ item.FileName }}</small>
                                </td>

                                <td class="text-justify">
                                    <a class="text-success" href="{{ item.LinkDownloadFile }}" download><i class="fa fa-download"></i>Download</a>
                                </td>

                                @if (Model.ID != Guid.Empty && (IsCanEdit || IsHaveAccessFinsih || IsHaveAccessIT))
                                {
                                    <td class="text-justify">
                                        <a class="text-danger" href="#{{ $index+1 }}" ng-click="DeleteFile(item)"><i class="os-icon os-icon-ui-15"></i>Delete</a>
                                    </td>
                                }

                            </tr>


                        </tbody>
                    </table>
                </div>



            </div>
            <div class="element-box">
                <fieldset class="form-group">
                    <legend><span>Development Plan (To be filled by IT Programmer)</span></legend>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.DevelopmentDescription, "Development Plan Description")
                                @Html.TextAreaFor(x => x.DevelopmentDescription, new { @class = "form-control", @rows = "5" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.DateStartStr, "Date to Start ")
                                <div class="date-input">
                                    <input class="form-control" placeholder="Date to Start" type="text" value="@Model.DateStartStr" readonly>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.DateFinishPlanningStr, "Date Finish Planning")
                                <div class="date-input">
                                    <input class="form-control" placeholder="Date Finish Planning" type="text" value="@Model.DateFinishPlanningStr" readonly>
                                </div>
                            </div>
                        </div>
                    </div>


                </fieldset>


            </div>

            @if (!string.IsNullOrEmpty(Model.ChangeRequestNo))
            {
                <div class="element-box">
                    <fieldset class="form-group">
                        <legend><span>List User Approval</span></legend>
                        <div class="table-responsive">
                            <table class="table table-lightborder table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>NIK Site</th>
                                        <th>Name</th>
                                        <th>Jabatan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <span class="d-none d-xl-inline-block">
                                                <small>
                                                    @UserApproval.Manager.NIKSite
                                                </small>
                                            </span>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.Manager.FullName</small>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.Manager.Jabatan</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <span class="d-none d-xl-inline-block">
                                                <small>
                                                    @UserApproval.GeneralManager.NIKSite
                                                </small>
                                            </span>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.GeneralManager.FullName</small>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.GeneralManager.Jabatan</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <span class="d-none d-xl-inline-block">
                                                <small>
                                                    @UserApproval.OwnerApp.NIKSite
                                                </small>
                                            </span>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.OwnerApp.FullName</small>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.OwnerApp.Jabatan</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <span class="d-none d-xl-inline-block">
                                                <small>
                                                    @UserApproval.Manager.NIKSite
                                                </small>
                                            </span>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.Manager.FullName</small>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.Manager.Jabatan</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <span class="d-none d-xl-inline-block">
                                                <small>
                                                    @UserApproval.VPHO.NIKSite
                                                </small>
                                            </span>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.VPHO.FullName</small>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.VPHO.Jabatan</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <span class="d-none d-xl-inline-block">
                                                <small>
                                                    @UserApproval.ITApp.NIKSite
                                                </small>
                                            </span>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.ITApp.FullName</small>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.ITApp.Jabatan</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>
                                            <span class="d-none d-xl-inline-block">
                                                <small>
                                                    @UserApproval.ManagerIT.NIKSite
                                                </small>
                                            </span>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.ManagerIT.FullName</small>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.ManagerIT.Jabatan</small>
                                        </td>
                                    </tr>
                                    <tr style="display:none;">
                                        <td>8</td>
                                        <td>
                                            <span class="d-none d-xl-inline-block">
                                                <small>
                                                    @UserApproval.VPIT.NIKSite
                                                </small>
                                            </span>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.VPIT.FullName</small>
                                        </td>
                                        <td class="text-justify">
                                            <small>@UserApproval.VPIT.Jabatan</small>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>

                    </fieldset>
                </div>
            }
            @if (IsCanEdit)
            {
                <div class="element-box">

                    @if (Model.LogHistories.Count > 0)
                    {
                        <fieldset class="form-group">
                            <legend><span>List History Work Flow</span></legend>
                            <div class="table-responsive">
                                <table class="table table-lightborder table-sm">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                NIK Site
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Jabatan
                                            </th>
                                            <th class="text-justify">
                                                Status
                                            </th>
                                            <th class="text-right">
                                                Last Action
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.LogHistories.Count; i++)
                                        {
                                            var itemHistory = Model.LogHistories[i];

                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>
                                                    <span class="d-none d-xl-inline-block"><small>@itemHistory.NIKSite</small></span>
                                                </td>
                                                <td id="manager_fullName" class="text-justify">
                                                    <small>@itemHistory.Nama</small>
                                                </td>
                                                <td id="manager_jabatan" class="text-justify">
                                                    <small>@itemHistory.Jabatan</small>
                                                </td>
                                                <td class="text-justify">
                                                    @if (itemHistory.IsApprove)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-close text-danger"></i>
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    @if (itemHistory.ActionTime.HasValue)
                                                    {
                                                        <span>@itemHistory.ActionTime.Value.ToLabelDateSimple()</span><span class="smaller lighter"> @(itemHistory.ActionTime.Value.Hour):@(itemHistory.ActionTime.Value.Minute) @String.Format("{0:tt}", itemHistory.ActionTime.Value)</span>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="padding: 5px 5px 20px 50px;">
                                                    <b>Comment :</b>
                                                    <br />@itemHistory.Action
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </fieldset>
                    }
                </div>
            }

            <div class="form-buttons-w">
                @if (IsCanEdit)
                {
                    <button class="btn btn-primary" type="submit">Save</button>
                }

                @if (Model.ID != Guid.Empty && Model.StatusWF == REQUEST_STATUS.NEW || Model.StatusWF == REQUEST_STATUS.REVISION)
                {
                    <a href="@Url.Action(MVC.ChangeRequest.SubmitRequestAccess(Model.ID))" class="btn btn-info">Submit</a>
                }
            </div>

        </div>

        <div class="col-lg-4 col-xxl-4">

            <div class="content-panel compact color-scheme-dark">
                <div class="content-panel-close">
                    <i class="os-icon os-icon-close"></i>
                </div>


                <div class="element-wrapper compact">
                    <div class="element-wrapper">
                        <div class="element-actions actions-only">
                            <a class="element-action element-action-fold" href="#"><i class="os-icon os-icon-minus-circle"></i></a>
                        </div>
                        <h6 class="element-header">
                            Application Information
                        </h6>
                        <div class="element-box-tp">


                            <div class="row">

                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.ApplicationCode, "Program Name")
                                        @if (IsCanEdit)
                                        {
                                            @Html.DropDownListFor(x => x.ApplicationCode, (List<SelectListItem>)ViewBag.ListApplication, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(x => x.ApplicationCode, (List<SelectListItem>)ViewBag.ListApplication, new { @class = "form-control", @disabled = "" })
                                        }
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.ModuleCode, "Module Name")
                                        @if (IsCanEdit)
                                        {
                                            @Html.DropDownListFor(x => x.ModuleCode, (List<SelectListItem>)ViewBag.ListModule, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(x => x.ModuleCode, (List<SelectListItem>)ViewBag.ListModule, new { @class = "form-control", @disabled = "" })
                                        }
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>


                    <h6 class="element-header" style="margin-bottom: 5px;">Specify Change Relation</h6>
                    <div class="element-box-tp">

                        <div class="row">
                            <div class="col-sm-12">


                                <div class="table-responsive">
                                    <table class="table table-lightborder">
                                        <tbody>
                                            <tr>
                                                <td class="nowrap">Master Data</td>
                                                <td class="text-right">
                                                    <input type="checkbox" class="chkChange" data-name="IsChangeMasterData" @(Model.IsChangeMasterData ? "checked" : "") @(IsCanEdit ? "" : "disabled") />
                                                    @Html.Hidden("IsChangeMasterData")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="nowrap">New Report / Form</td>
                                                <td class="text-right">
                                                    <input type="checkbox" class="chkChange" data-name="IsNewReport" @(Model.IsNewReport ? "checked" : "") @(IsCanEdit ? "" : "disabled") />
                                                    @Html.Hidden("IsNewReport")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="nowrap">Update Report / Form</td>
                                                <td class="text-right">
                                                    <input type="checkbox" class="chkChange" data-name="IsChangeUpdateReport" @(Model.IsChangeUpdateReport ? "checked" : "") @(IsCanEdit ? "" : "disabled") />
                                                    @Html.Hidden("IsChangeUpdateReport")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="nowrap">New/Interface Program</td>
                                                <td class="text-right">
                                                    <input type="checkbox" class="chkChange" data-name="IsNewInterfaceProgram" @(Model.IsNewInterfaceProgram ? "checked" : "") @(IsCanEdit ? "" : "disabled") />
                                                    @Html.Hidden("IsNewInterfaceProgram")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="nowrap">Authorisation</td>
                                                <td class="text-right">
                                                    <input type="checkbox" class="chkChange" data-name="IsAuthorisation" @(Model.IsAuthorisation ? "checked" : "") @(IsCanEdit ? "" : "disabled") />
                                                    @Html.Hidden("IsAuthorisation")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="nowrap">Application</td>
                                                <td class="text-right">
                                                    <input type="checkbox" class="chkChange" data-name="IsApplication" @(Model.IsApplication ? "checked" : "") @(IsCanEdit ? "" : "disabled") />
                                                    @Html.Hidden("IsApplication")
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</form>



@section Scripts {
    <script type="text/javascript" src="~/Assets/bower_components/jQuery-Autocomplete/src/jquery.autocomplete.js"></script>
    <script src="~/Assets/bower_components/icheck-1.x/icheck.min.js"></script>

    <script>
        var objModel = function () { return @Html.Raw(jsonModel) };
        var jsonGroupApplication = function () { return @Html.Raw(jsonGroupApplication) };

        console.log(@Html.Raw(jsonGroupApplication));


        var app = angular.module('JResourcesApp', []);
        app.controller('JResourcesController', function ($scope, $http, $log) {
            $scope.Model = objModel();

            $('#ApplicationCode').on('change', function () {

                var valueSelected = this.value;

                angular.forEach(jsonGroupApplication(), function (valueApp, keyApp) {

                    if (keyApp == valueSelected) {

                        $('#ModuleCode').empty();
                        angular.forEach(valueApp, function (valueModule, keyModule) {

                            console.log(valueModule);

                            $('#ModuleCode').append('<option value="' + valueModule.Value + '">' + valueModule.Text + '</option>');

                        });

                    }

                });



            });


            $('#RequestUser_FullName').autocomplete({
                minChars: 3,
                serviceUrl: '@Url.Action(MVC.JsonData.SearchUser())',
                onSelect: function (suggestion) {

                    $('#RequestUser_FullName').val(suggestion.data.Nama);
                    $('#RequestUser_NIKSite').val(suggestion.data.NIKSITE);
                    $('#RequestUser_CompanyName').val(suggestion.data.NmCompany);
                    $('#RequestUser_DepartmentName').val(suggestion.data.nmDepar);

                    $scope.Model.RequestUser.FullName = suggestion.data.Nama;
                    $scope.Model.RequestUser.NIKSite = suggestion.data.NIKSITE;
                    $scope.Model.RequestUser.CompanyName = suggestion.data.NmCompany;
                    $scope.Model.RequestUser.DepartmentName = suggestion.data.nmDepar;


                    GetApproval(suggestion.data.NIKSITE);
                    $log.info(suggestion.data);
                }
            });


            function GetApproval(nikSITE) {
                var uri = "@Url.Action(MVC.JsonData.GetListApproval("NIKSiteValue"))";

                $http({
                    method: 'GET',
                    url: uri.replace('NIKSiteValue', nikSITE)
                }).then(function successCallback(response) {

                    $scope.Model.Manager = response.data.Manager;
                    $scope.Model.VP = response.data.VP;
                    $scope.Model.ManagerIT = response.data.ManagerIT;
                    $scope.Model.VPIT = response.data.VPIT;
                    $scope.Model.ITAdmin = response.data.ITAdmin;
                    $scope.Model.ITSPV = response.data.ITSPV;


                    $('#list-approval').slideToggle();

                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }


            function RefreshListFile() {
                var uri = "@Url.Action(MVC.JsonData.GetListFile("documentNoValue"))";

                $http({
                    method: 'GET',
                    url: uri.replace('documentNoValue', $('#ChangeRequestNo').val())
                }).then(function successCallback(response) {

                    $scope.Model.FileAttachments = response.data;

                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }


            var myDropzone = new Dropzone("#form-upload", {
                //autoProcessQueue: false,
                //addRemoveLinks: true,
                url: "@Url.Action(MVC.JsonData.SaveUploadedFile())",
                //acceptedFiles: "image/*,application/pdf",
                parallelUploads: 10,
                params: {
                    DocumentNo: $('#ChangeRequestNo').val()
                },
            });

            myDropzone.on("complete", function (file) {
                alert("File " + file.name + " success to upload");
                myDropzone.removeAllFiles(true);
                RefreshListFile();
            });

            $scope.DeleteFile = function (item) {
                var uri = "@Url.Action(MVC.JsonData.DeleteFile())";

                $http({
                    method: 'GET',
                    url: uri + "?FileId=" + item.ID
                }).then(function successCallback(response) {

                    alert(response.data.Message);
                    RefreshListFile();
                    //unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    //unBlockElement(elementBlock);
                });
            }


        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('input.chkChange').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

            $('input.chkChange').on('ifChanged', function (event) {

                var name = $(this).data('name');
                console.log($(this)[0].checked);
                $('#' + name).val($(this)[0].checked);

            });

        });
    </script>

}