﻿<!DOCTYPE html>
<html>
<head>
    <title>JResourcess ESS | IT Request</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="~/Assets/favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="~/Assets/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Assets/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="~/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="~/Assets/css/main.css?version=4.4.1" rel="stylesheet">
    <link href="~/Assets/icon_fonts_assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/icon_fonts_assets/themefy/themify-icons.css" rel="stylesheet">
    <link href="~/Assets/icon_fonts_assets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>
<body class="menu-position-side menu-side-left full-screen">
    <div class="all-wrapper solid-bg-all">

        @{Html.RenderAction(MVC.Widget.TopBar());}

        <div class="layout-w">

            @{Html.RenderAction(MVC.Widget.MobileMenu());}
            @{Html.RenderAction(MVC.Widget.MainMenu());}

            <div class="content-w">

                @RenderSection("BreadCrumb", required: false)

                <div class="content-i">
                    <div class="content-box">
                        <div class="element-wrapper compact pt-4">

                            @{ 
                                Boolean IsUseHeaderPage = ViewBag.IsUseHeaderPage == true ? true : false;
                            }

                            @if (IsUseHeaderPage)
                            {
                                @RenderSection("ButtonPage", required: false)

                                <h6 class="element-header">
                                    @(ViewBag.Title != null ? ViewBag.Title : "Title Page")
                                </h6>
                            }


                            <div class="element-box-tp" style="min-height: 700px;">
                                @RenderBody()
                            </div>
                        </div>


                    </div>
                </div>


            </div>

        </div>
        <div class="display-type"></div>
    </div>

    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Assets/bower_components/moment/moment.js"></script>
    <script src="~/Assets/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="~/Assets/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Assets/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script src="~/Assets/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Assets/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="~/Assets/bower_components/dropzone/dist/dropzone.js"></script>
    <script src="~/Assets/bower_components/editable-table/mindmup-editabletable.js"></script>
    <script src="~/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Assets/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Assets/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="~/Assets/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/util.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/alert.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/button.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/carousel.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/collapse.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/dropdown.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/modal.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/tab.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/tooltip.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/popover.js"></script>
    <script src="~/Assets/js/demo_customizer.js?version=4.4.0"></script>
    <script src="~/Assets/js/main.js?version=4.4.0"></script>

    <script src="~/Assets/bower_components/angular-1.6.1/angular.min.js" type="text/javascript"></script>

    @RenderSection("Scripts", required: false)
    @Html.Partial("_Notifications")
    <!--  UPDATE FROM JENKINS -->
</body>
</html>
