﻿@using ESS.Web
@{
    var errorList = Html.GetNotifications(NotificationType.ERROR);
    var warningList = Html.GetNotifications(NotificationType.WARNING);
    var successList = Html.GetNotifications(NotificationType.SUCCESS);
    var infoList = Html.GetNotifications(NotificationType.INFO);
}
<!-- display errors -->
@if (errorList != null)
{
    <div aria-hidden="true" aria-labelledby="myModal-danger" class="modal fade" id="myModal-danger" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Notification Information
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="element-box-content">
                        <div class="alert alert-danger" role="alert">
                            <h5 class="alert-heading">
                                Error
                            </h5>
                            @if (errorList.Count() > 1)
                            {
                            <strong><span class="glyphicon glyphicon-remove"></span> There are @errorList.Count() errors: </strong>
                            <ul>
                                @foreach (String message in errorList)
                                    {
                                    <li><span class="glyphicon glyphicon-remove"></span>@Html.Raw(message)</li>
                                    }
                            </ul>
                            }
                            else
                            {
                            <p class="text-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                                @Html.Raw(errorList.First())
                            </p>

                            }
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myModal-danger').modal('show');
        });
    </script>

}

<!-- display warnings -->
@if (warningList != null)
{
    <div aria-hidden="true" aria-labelledby="myModal-warning" class="modal fade" id="myModal-warning" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Notification Information
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="element-box-content">
                        <div class="alert alert-warning" role="alert">
                            <h5 class="alert-heading">
                                Warning
                            </h5>
                            @if (warningList.Count() > 1)
                            {
                            <strong><span class="glyphicon glyphicon-warning-sign"></span> There are @warningList.Count() warnings: </strong>
                            <ul>
                                @foreach (String message in warningList)
                                    {
                                    <li>@Html.Raw(message)</li>
                                    }
                            </ul>
                            }
                            else
                            {
                            <strong><span class="glyphicon glyphicon-warning-sign"></span> Warning: </strong>
                            @Html.Raw(warningList.First())
                            }
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myModal-warning').modal('show');
        });
    </script>
}

<!-- display success -->
@if (successList != null)
{
    <!-- Modal success -->
    <div aria-hidden="true" aria-labelledby="myModal-success" class="modal fade" id="myModal-success" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Notification Information
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="element-box-content">
                        <div class="alert alert-success" role="alert">
                            <h5 class="alert-heading">
                                Success
                            </h5>
                            @if (successList.Count() > 1)
                            {
                            <strong><span class="glyphicon glyphicon-ok"></span> There are @successList.Count() successful notifications: </strong>
                            <ul>
                                @foreach (String message in successList)
                                    {
                                    <li>@Html.Raw(message)</li>
                                    }
                            </ul>
                            }
                            else
                            {
                            <strong><span class="glyphicon glyphicon-ok"></span></strong>
                            @Html.Raw(successList.First())
                            }
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myModal-success').modal('show');
        });
    </script>

}

<!-- display success -->
@if (infoList != null)
{
    <!-- Modal info -->
    <div aria-hidden="true" aria-labelledby="myModal-info" class="modal fade" id="myModal-info" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Notification Information
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="element-box-content">
                        <div class="alert alert-info" role="alert">
                            <h5 class="alert-heading">
                                Info
                            </h5>
                            @if (infoList.Count() > 1)
                            {
                                <strong><span class="glyphicon glyphicon-info-sign"></span> There are @infoList.Count() notifications: </strong>
                                <ul>
                                    @foreach (String message in infoList)
                                    {
                                        <li>@Html.Raw(message)</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <strong><span class="glyphicon glyphicon-info-sign"></span> </strong>
                                @Html.Raw(infoList.First())
                            }
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myModal-info').modal('show');
        });
    </script>
}

