﻿@using ESS.Data.Model

@model List<ESS.Data.Model.MenuModel>

@{
    var menus = ESS.Web.FunctionWebHelpers.SetCurrentMenu(Model);
    var USER = ESS.BusinessLogic.UserLogic.GetCurrentUser();
}

<!--------------------
START - Main Menu
-------------------->
<div class="menu-w selected-menu-color-light menu-has-selected-link menu-activated-on-click color-scheme-light color-style-default sub-menu-color-light menu-position-side menu-side-left menu-layout-compact sub-menu-style-inside">
    <div class="logged-user-w avatar-inline">
        <div class="logged-user-i">
            <div class="avatar-w">
                <img alt="" src="~/Assets/img/user.png">
            </div>
            <div class="logged-user-info-w">
                <div class="logged-user-name" style="font-size: 80%;">
                    @USER.FullName
                </div>
                <div class="logged-user-role" style="font-size: 80%;">
                    @USER.CompanyName
                </div>
            </div>
        </div>
    </div>

@*    <div class="element-search autosuggest-search-activator">
        <input placeholder="Start typing to search..." type="text">
    </div>*@

    <h1 class="menu-page-header">
        Page Header
    </h1>
    <ul class="main-menu">

        @{
            bool IsFirst = true;
        }

        @foreach (var menuFirst in menus)
        {
            if (menuFirst.IsHeading)
            {
                <li class="sub-header">
                    <span>@menuFirst.NameMenu</span>
                </li>

            }
            else
            {
                var HasSubMenu = "";
                if (menuFirst.ChildsMenus != null && menuFirst.ChildsMenus.Count > 0)
                {
                    HasSubMenu = "has-sub-menu";
                }

                <li class="@(IsFirst ? "start" : "") @(menuFirst.IsCurrent ? "active" : "") @(menuFirst.IsHide ? "hide" : "") @HasSubMenu">

                    <a href="@(!string.IsNullOrEmpty(menuFirst.Url) ? menuFirst.Url : "#")">

                        @if (!String.IsNullOrEmpty(menuFirst.IconType))
                        {
                            <div class="@menuFirst.IconType">
                                <div class="@menuFirst.Icon"></div>
                            </div>
                        }
                        else
                        {
                            <i class="@menuFirst.Icon"></i>
                        }

                        <span>@menuFirst.NameMenu</span>
                    </a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            @menuFirst.NameMenu
                        </div>

                        <div class="sub-menu-icon">
                            <i class="@menuFirst.Icon"></i>
                        </div>

                        <div class="sub-menu-i">
                            @if (menuFirst.ChildsMenus != null && menuFirst.ChildsMenus.Count > 0)
                            {
                                <ul class="sub-menu">
                                    @foreach (var menuChild in menuFirst.ChildsMenus)
                                    {
                                        <li>
                                            <a href="@(!string.IsNullOrEmpty(menuChild.Url) ? menuChild.Url : "#")">@menuChild.NameMenu</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>


                </li>

            }

            IsFirst = false;
        }


    </ul>

</div>
<!--------------------
END - Main Menu
-------------------->
