﻿<!--------------------
START - Top Bar
-------------------->
<div class="top-bar color-scheme-bright">
    <div class="logo-w menu-size">
        <a class="logo" href="@Url.Action(MVC.Home.Index())">
            <div class="logo-element"></div>
            <div class="logo-label">
                J RESOURCES
            </div>
        </a>
    </div>
    <div class="fancy-selector-w">
        <div class="fancy-selector-current">
            <div class="fs-img">
                <img alt="" src="~/Assets/img/calendar.png">
            </div>
            <div class="fs-main-info">
                <div class="fs-name">
                    Employee Self-Service
                </div>
                <div class="fs-sub">
                    <span>@DateTime.Now.ToString("dddd") :</span><strong> @DateTime.Now.ToString("yyyy-MM-dd")</strong>
                </div>
            </div>
        </div>

    </div>
    <!--------------------
    START - Top Menu Controls
    -------------------->
    <div class="top-menu-controls">
@*        <div class="element-search autosuggest-search-activator">
            <input placeholder="Start typing to search..." type="text">
        </div>*@

        <div class="">
            <a class="btn btn-secondary" href="@Url.Action(MVC.User.LogOut())"><i class="icon-power"></i><span> Log Out</span></a>
        </div>


    </div>
    <!--------------------
    END - Top Menu Controls
    -------------------->
</div>
<!--------------------
END - Top Bar
-------------------->
