﻿@model ESS.Data.Model.UserLoginModel

@{
    Layout = null;
    ViewBag.Title = "Login";
    string returnURL = Request.QueryString["ReturnUrl"];
}

<!DOCTYPE html>
<html>
<head>
    <title>JResources - Login</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="~/Assets/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="~/Assets/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Assets/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="~/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="~/Assets/css/main.css?version=4.4.0" rel="stylesheet">
</head>
<body class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
        <div class="auth-box-w">

            <div class="logo-w" style="padding: 10%;">
                <a href="@Url.Action(MVC.Home.Index())"><img alt="" src="~/Assets/img/logo-jresources.png"></a>
            </div>

            <h4 class="auth-header">
                Login Form
            </h4>

            <form action="@Url.Action(MVC.User.Login())@(string.IsNullOrEmpty(returnURL) ? "":"?returnURL="+returnURL)" method="post">
                <div class="form-group">
                    @Html.LabelFor(x => x.Username)
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = @"KodeSite\Username" })
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter your username" })
                    <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>
                <div class="buttons-w">
                    <button class="btn btn-primary">Log me in</button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/util.js"></script>
    <script src="~/Assets/bower_components/bootstrap/js/dist/modal.js"></script>
    <script src="~/Assets/js/demo_customizer.js?version=4.4.0"></script>
    <script src="~/Assets/js/main.js?version=4.4.0"></script>
    
    @Html.Partial("_Notifications")
</body>
</html>

