﻿@using ESS.Data
@using ESS.Data.Model
@using Newtonsoft.Json
@model ESS.Data.Model.DelegationModel

@{
    ViewBag.Title = "Entry Delegation";

    string jsonModel = JsonConvert.SerializeObject(Model);
    string jsonModalEmployee = JsonConvert.SerializeObject(new UserSearchModel());
    string jsonModalTask = JsonConvert.SerializeObject(new DelegationDetailModel());

    bool IsHaveAccessAccpac = (bool)ViewBag.IsHaveAccessAccpac;
    bool IsHaveAccessMSR = (bool)ViewBag.IsHaveAccessMSR;

    bool IsEntry = true;
    if (Model.ID != Guid.Empty)
    {
        IsEntry = false;
    }
}

@section HeaderStyle {
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-summernote/summernote.css">

    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />

    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/jQuery-Autocomplete-master/content/styles.css" />
}

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>LETTER OF TASK DELEGATION  <small>Form</small></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="@Url.Action(MVC.Home.Index())">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="@Url.Action(MVC.Delegation.Index())">Delegation</a>
        <i class="fa fa-users"></i>
    </li>
    <li>
        <a href="#">Delegation Form</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">


        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered form-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i> Delegation Form
                </div>
            </div>
            <div class="portlet-body form">
                <div id="form-delegation" class="form-horizontal form-bordered" role="form">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Delegation No</label>
                            <div class="col-md-4">
                                <div class="input-inline">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-file-text-o"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="Model.DelegationNo" placeholder="Auto Number" readonly>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Kepada (Site & Head Office)</label>
                            <div class="col-md-4">
                                @if (IsEntry)
                                {
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search..." readonly>

                                        <span class="input-group-btn">
                                            <button id="search-to" ng-click="lookupSearch('TO')" class="btn blue" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>

                                    </div>
                                }

                                <table ng-show="Model.ListDelegationTo.length > 0" class="table table-bordered table-hover" style="margin-top: 10px;">
                                    <tbody>
                                        <tr ng-repeat="item in Model.ListDelegationTo track by $index">
                                            <td>{{ item.FullName }}</td>
                                            <td style="width: 50px;">
                                                @if (IsEntry)
                                                {
                                                    <button type="button" ng-click="DeleteEmployeeList(item.NIKSite)" class="btn default btn-xs black">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                }

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Tembusan (Site & Head Office)</label>
                            <div class="col-md-4">


                                @if (IsEntry)
                                {

                                    <div class="input-group">
                                        <input id="autocomplete" type="text" class="form-control" placeholder="Search..." readonly>
                                        <span class="input-group-btn">
                                            <button ng-click="lookupSearch('CC')" class="btn blue" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>

                                }


                                <table ng-show="Model.ListDelegationCC.length > 0" class="table table-bordered table-hover" style="margin-top: 10px;">
                                    <tbody>

                                        <tr ng-repeat="item in Model.ListDelegationCC track by $index">
                                            <td>{{ item.FullName }}</td>
                                            <td style="width: 50px;">
                                                @if (IsEntry)
                                                {
                                                    <button type="button" ng-click="DeleteEmployeeList(item.NIKSite)" class="btn default btn-xs black">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                }

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Tanggal Absen</label>
                            <div class="col-md-4">


                                <div class="input-group input-large date-picker input-daterange" data-date-start-date="@DateTime.Now.ToString(ESS.Common.Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@ESS.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER">
                                    <input ng-model="Model.DateFromStr" type="text" class="form-control" name="from">
                                    <span class="input-group-addon">
                                        to
                                    </span>
                                    <input ng-model="Model.DateToStr" type="text" class="form-control" name="to">
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Alasan</label>
                            <div class="col-md-9">

                                <textarea ng-model="Model.Reason" cols="102" rows="10" style="padding: 10px;"></textarea>

                            </div>
                        </div>

                        <div class="form-group" id="form-delegation-task">
                            <label class="col-md-3 control-label">Task Delegation</label>
                            <div class="col-md-9">

                                @if (IsEntry)
                                {
                                    <!-- FORM INPUT TASK DELEGATION START -->
                                    <div class="portlet box blue ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-file-text-o"></i>Form Task Delegation
                                            </div>
                                        </div>
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <div action="#" class="form-horizontal form-bordered form-row-stripped">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Nama</label>
                                                        <div class="col-md-5">


                                                            <div class="input-group">
                                                                <input ng-model="ModalTask.Fullname" type="text" class="form-control" placeholder="Search..." readonly>
                                                                <span class="input-group-btn">
                                                                    <button id="search-to" ng-click="lookupSearch('TASK')" class="btn blue" type="button" style="margin-right: 0;">
                                                                        <i class="fa fa-search"></i>
                                                                    </button>
                                                                </span>
                                                            </div>


                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Application</label>
                                                        <div class="col-md-5">
                                                            <select ng-model="ModalTask.ApplicationName" class="form-control">

                                                                @if (IsHaveAccessAccpac)
                                                                {
                                                                    <option value="ACCPAC">ACCPAC</option>
                                                                }

                                                                @if (IsHaveAccessMSR)
                                                                {
                                                                    <option value="MSR">MSR</option>
                                                                }
                                                                <option value="OVERTIME">OVERTIME</option>
                                                                <option value="OTHERS">OTHERS</option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Date Delegation</label>
                                                        <div class="col-md-9">
                                                            <div class="input-group input-large date-picker input-daterange" data-date-start-date="@DateTime.Now.ToString(ESS.Common.Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@ESS.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER" style="width:280px !important;">
                                                                <input ng-model="ModalTask.DateFromStr" type="text" class="form-control" name="from" style="width:130px;">
                                                                <span class="input-group-addon">
                                                                    to
                                                                </span>
                                                                <input ng-model="ModalTask.DateToStr" type="text" class="form-control" name="to" style="width:130px;">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Tugas Description</label>
                                                        <div class="col-md-5">
                                                            <textarea ng-model="ModalTask.Task" rows="10" cols="72" style="padding: 10px;"></textarea>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" ng-disabled="!(ModalTask.Fullname && ModalTask.ApplicationName && ModalTask.DateFromStr && ModalTask.DateToStr && ModalTask.Task)" ng-click="AddTaskEntry()" class="btn btn-sm blue">Add Task <i class="fa fa-plus"></i></button>
                                                            <button type="button" ng-click="ClearTaskEntry()" class="btn btn-sm default">Clear</button>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                                }




                                <div class="portlet box grey" ng-repeat="item in Model.DelegationDetails track by $index">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-file-o"></i>Task Delegation
                                        </div>
                                        @if (IsEntry)
                                        {
                                            <div class="actions">
                                                <button ng-click="RemoveTaskEntry(item.TaskId)" class="btn red btn-sm">
                                                    <i class="fa fa-times"></i> Remove
                                                </button>
                                            </div>
                                        }
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-body">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 150px;">
                                                            Nama
                                                        </td>
                                                        <td style="width: 10px;"> : </td>
                                                        <td>
                                                            {{ item.Fullname }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Aplikasi
                                                        </td>
                                                        <td> : </td>
                                                        <td>
                                                            {{ item.ApplicationName }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Range Date
                                                        </td>
                                                        <td> : </td>
                                                        <td>
                                                            {{ item.DateFromStr }} - {{ item.DateToStr }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Task Deskripsi
                                                        </td>
                                                        <td> : </td>
                                                        <td>
                                                            <textarea ng-model="item.Task" readonly rows="10" cols="74" style="padding: 10px;" disabled></textarea>
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                                <!-- FORM INPUT TASK DELEGATION END -->

                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                @if (IsEntry)
                                {
                                    <button ng-click="Save()" type="submit" class="btn btn-lg green">Submit</button>
                                    <button ng-click="Clear()" type="button" class="btn btn-lg default">Cancel</button>
                                }
                                else
                                {
                                    <a href="@ESS.Common.SiteSettings.BASE_URL/PrintForm.aspx?id={{ Model.ID }}" target="_blank" class="btn btn-lg blue">Print</a>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        @{Html.RenderAction(MVC.Lookup.Employee());}
        @{Html.RenderAction(MVC.Lookup.TaskDelegation());}

    </div>
</div>

<!-- END PAGE CONTENT-->
@section FooterScript {
    <script src="~/Assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/clockface/js/clockface.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/Assets/admin/pages/scripts/components-editors.js"></script>
    <script src="~/Assets/admin/pages/scripts/components-pickers.js"></script>

    <script>

    var URI_SEARCH_EMPLOYEE = '@Url.Action(MVC.Lookup.GetEmployee())';
    var URI_LIST = '@Url.Action(MVC.Delegation.Index())';
    var URI_SAVE = '@Url.Action(MVC.Delegation.Save())';


    var objModel = function () { return @Html.Raw(jsonModel) };
    var objModalEmployee = function () { return @Html.Raw(jsonModalEmployee) };
    var objModalTask = function () { return @Html.Raw(jsonModalTask) };

    var app = angular.module('JResourcesApp', []);
    app.controller('JResourcesController', function ($scope, $http) {
        ComponentsEditors.init();
        ComponentsPickers.init();

        $scope.Model = objModel();
        $scope.ModalEmployee = objModalEmployee();
        $scope.ModalTask = objModalTask();

        console.log($scope.Model);

        var NewId = function () {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        $scope.AddTaskEntry = function () {
            $scope.ModalTask.TaskId = NewId();
            $scope.Model.DelegationDetails.push($scope.ModalTask);

            var DelegationDetails = [];
            for (var i = 0; i < $scope.Model.DelegationDetails.length; i++) {
                if ($scope.Model.DelegationDetails[i].Fullname != null &&
                    $scope.Model.DelegationDetails[i].Fullname != undefined) {

                    DelegationDetails.push($scope.Model.DelegationDetails[i]);

                }
            }

            $scope.Model.DelegationDetails = DelegationDetails;
            $scope.ModalTask = objModalTask();
        }

        $scope.ClearTaskEntry = function () {
            $scope.ModalTask = objModalTask();
        }


        $scope.RemoveTaskEntry = function (TaskId) {

            var DelegationDetails = [];
            for (var i = 0; i < $scope.Model.DelegationDetails.length; i++) {
                if ($scope.Model.DelegationDetails[i].TaskId != TaskId) {

                    DelegationDetails.push($scope.Model.DelegationDetails[i]);

                }
            }

            $scope.Model.DelegationDetails = DelegationDetails;
        }

        var resetLookupSearch = function () {
            $scope.ModalEmployee = objModalEmployee();
            $scope.ModalEmployee.ListData = [];
        }

        var SearchLookupEmployee = function () {
            var elementBlock = '#employee-lookup .modal-body';
            BlockElement(elementBlock);

            if (INPUT_TYPE == 'TO' || INPUT_TYPE == 'CC') {
                $scope.ModalEmployee.IsAllSite = true;
            }

            if (INPUT_TYPE == 'TASK') {
                $scope.ModalEmployee.IsAllSite = false;
            }

            $http({
                method: 'POST',
                url: URI_SEARCH_EMPLOYEE,
                data: $scope.ModalEmployee
            }).then(function successCallback(response) {

                $scope.ModalEmployee = response.data;
                unBlockElement(elementBlock);
            }, function errorCallback(response) {
                console.log(response);
                unBlockElement(elementBlock);
            });

        }

        var INPUT_TYPE = '';

        $scope.lookupSearch = function (inputType) {
            INPUT_TYPE = inputType;

            resetLookupSearch();
            $('#employee-lookup').modal('toggle');
        }

        $scope.btnSearchLookupEmployee = function () {
            $scope.ModalEmployee.CurrentPage = 1;
            SearchLookupEmployee();
        }

        $scope.pageChangedLookupEmployee = function () {
            SearchLookupEmployee();
        };

        $scope.InsertIntoTo = function (item) {
            var IsValid = true;

            if (INPUT_TYPE == 'TO') {
                for (var i = 0; i < $scope.Model.ListDelegationTo.length; i++) {
                    if ($scope.Model.ListDelegationTo[i].NIKSite == item.NIKSite) {
                        IsValid = false;
                    }
                }

                if (IsValid) {
                    $scope.Model.ListDelegationTo.push(item);
                    $('#employee-lookup').modal('toggle');
                } else {
                    alert('User already exists');
                }
            }

            if (INPUT_TYPE == 'CC') {
                for (var i = 0; i < $scope.Model.ListDelegationCC.length; i++) {
                    if ($scope.Model.ListDelegationCC[i].NIKSite == item.NIKSite) {
                        IsValid = false;
                    }
                }

                if (IsValid) {
                    $scope.Model.ListDelegationCC.push(item);
                    $('#employee-lookup').modal('toggle');
                } else {
                    alert('User already exists');
                }
            }

            if (INPUT_TYPE == 'TASK') {
                $scope.ModalTask.NIKSite = item.NIKSite;
                $scope.ModalTask.Fullname = item.FullName;
                $('#employee-lookup').modal('toggle');
            }

        }

        $scope.DeleteEmployeeList = function (NIKSite) {

            if (INPUT_TYPE == 'TO') {
                var EmployeeList = [];

                for (var i = 0; i < $scope.Model.ListDelegationTo.length; i++) {

                    if ($scope.Model.ListDelegationTo[i].NIKSite != NIKSite) {
                        EmployeeList.push($scope.Model.ListDelegationTo[i]);
                    }
                }

                $scope.Model.ListDelegationTo = EmployeeList;
            }

            if (INPUT_TYPE == 'CC') {
                var EmployeeList = [];

                for (var i = 0; i < $scope.Model.ListDelegationCC.length; i++) {

                    if ($scope.Model.ListDelegationCC[i].NIKSite != NIKSite) {
                        EmployeeList.push($scope.Model.ListDelegationCC[i]);
                    }
                }

                $scope.Model.ListDelegationCC = EmployeeList;
            }
        }



        $scope.TaskEntry = function () {
            $('#task-lookup').modal('toggle');
        }


        $scope.Save = function () {
            var elementBlock = '#form-delegation';
            BlockElement(elementBlock);

            $http({
                method: 'POST',
                url: URI_SAVE,
                data: $scope.Model
            }).then(function successCallback(response) {

                if (response.data.IsSuccess) {

                    bootbox.alert(response.data.Message,
                        function () {
                            window.location = URI_LIST;
                        });

                } else {
                    showAlert(response.data.Message);
                }

                unBlockElement(elementBlock);
            }, function errorCallback(response) {

                console.log(response);

                if (response != null && response.data != null && response.data.Message != null) {
                    showAlert(response.data.Message);
                } else {
                    bootbox.alert("Error In Application Process");
                }

                unBlockElement(elementBlock);
            });
        }

        $scope.Clear = function () {
            $scope.Model = objModel();
        }



    });





    </script>
}