﻿@using ESS.Common

@model  ESS.Data.Model.DelegationSearchModel

@{
    ViewBag.Title = "Delegation";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Delegation";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Delegation.Entry());

    string objModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}




<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>LIST OF TASK DELEGATION  <small>Form</small></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="@Url.Action(MVC.Delegation.Index())">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="@Url.Action(MVC.Delegation.Index())">Delegation</a>
        <i class="fa fa-users"></i>
    </li>
    <li>
        <a href="#">Delegation Form</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- END PAGE HEADER-->



<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">REQUEST</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body form @(Model.IsSearchFilter ? "" : "display-hide")">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    @*<div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(x => x.SearchCriteria, "Delegation No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.DelegationNo, new { @ng_model = "Model.DelegationNo", @class = "form-control" })
                                </div>

                                @Html.LabelFor(x => x.WorkOrderNo, "Work Order No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.WorkOrderNo, new { @ng_model = "Model.WorkOrderNo", @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <select ng-options="item.ID as item.CompanyName for item in CompanyDepartments track by item.ID"
                                            ng-model="Model.CompanyId"
                                            ng-change="SetListDepartment()"
                                            class="select2me form-control"></select>
                                </div>

                                @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    <select ng-options="item.ID as item.DepartmentName for item in DepartmentList track by item.ID"
                                            ng-model="Model.DepartmentId"
                                            class="select2me form-control"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.RequestStatus, "Status Request", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <select ng-options="item.EnumValue as item.EnumLabel for item in DelegationStatus track by item.EnumValue"
                                            ng-model="Model.RequestStatus"
                                            class="select2me form-control"></select>
                                </div>


                                @Html.LabelFor(x => x.DateFrom, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    <div class="input-group input-large date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        <input type="text" ng-model="Model.DateFromStr" class="form-control" name="from">
                                        <span class="input-group-addon">to </span>
                                        <input type="text" ng-model="Model.DateToStr" class="form-control" name="to">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.EquipmentNo, "Equipment No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.EquipmentNo, new { @ng_model = "Model.EquipmentNo", @class = "form-control" })
                                </div>


                                @Html.LabelFor(x => x.MaintenanceCode, "Priority", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(x => x.MaintenanceCode, ListJobTypeNonCMMS, new { @ng_model = "Model.MaintenanceCode", @class = "select2me form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.Reason, "Reason", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.Reason, new { @ng_model = "Model.Reason", @class = "form-control" })
                                </div>

                            </div>



                        </div>*@
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchDelegation()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetDelegation()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div id="Delegation-table" style="">

            <div class="grid-mvc">
                <div class="grid-wrap">
                    <table class="table table-striped table-bordered table-advance">
                        <thead>
                            <tr>
                                <th class="grid-header highlight" style="width: 180px;">Delegation No</th>
                                <th class="grid-header" style="width: 100px;">Date From</th>
                                <th class="grid-header" style="width: 100px;">Date To</th>
                                <th class="grid-header"></th>
                                <th class="grid-header" style="width: 30px;"></th>
                                <th class="grid-header" style="width: 30px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData">
                                <td class="grid-cell highlight" data-name="DocumentNo">
                                    <div class="success"></div>
                                    <a href="#">{{ item.DelegationNo }}</a>
                                </td>
                                <td class="grid-cell" data-name="DateCreated">
                                    <a href="#" class="btn btn-icon-left btn-xs grey-cascade" style="font-size: 100%;">
                                        <i class="fa fa fa-calendar"></i>{{ item.DateFromStr }}
                                    </a>
                                </td>
                                <td class="grid-cell" data-name="ExpectedDate">
                                    <a href="#" class="btn btn-icon-left btn-xs grey-cascade" style="font-size: 100%;">
                                        <i class="fa fa fa-calendar"></i>{{ item.DateToStr }}
                                    </a>
                                </td>
                                <td class="grid-cell" data-name="EquipmentNo" style="font-size: 70%;">{{ item.EquipmentNo }}</td>

                                <td class="grid-cell" style=" width: 50px;">
                                    <a  href="@ESS.Common.SiteSettings.BASE_URL/PrintForm.aspx?id={{ item.ID }}" target="_blank" class="btn btn-sm yellow">
                                        Print <i class="fa fa-file-text"></i>
                                    </a>
                                </td>
                                <td class="grid-cell" style=" width: 50px;">
                                    <a href="#" ng-click="GoToView(item.ID)" class="btn btn-sm blue btn-block"><i class="fa fa-search-plus"></i> View</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="grid-footer">
                    <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedDelegationList()" boundary-links="true" num-pages="numPages"></ul>
                </div>

            </div>
        </div>


        @*@{Html.RenderAction(MVC.Delegation.DelegationModal());}*@


    </div>
</div>



@section FooterScript{
<script>
        var URI_LIST_Delegation = '@Url.Action(MVC.Delegation.Index())';
        var URI_SEARCH_Delegation = '@Url.Action(MVC.Delegation.GetList())';
        var URI_LIST_VIEW = '@Url.Action(MVC.Delegation.DelegationView(Guid.Empty))';
        

        var objModel = function () { return @Html.Raw(objModel) };
</script>

    <script src="~/Assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/holder.js" type="text/javascript"></script>

    <script type="text/javascript">
        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();

            var SearchDelegation = function () {
                var elementBlock = '#Delegation-table';
                BlockElement(elementBlock);
                $scope.Model.ListData = [];

                $http({
                    method: 'POST',
                    url: URI_SEARCH_Delegation,
                    data: $scope.Model
                }).then(function successCallback(response) {

                    $scope.Model = response.data;
                    unBlockElement(elementBlock);
                    $('.tooltips').tooltip();
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.SearchDelegation = function () {
                $scope.Model.CurrentPage = 1;
                SearchDelegation();
            }

            $scope.ResetDelegation = function () {
                $scope.Model = objModel();
                SearchDelegation();
            }

            $scope.pageChangedDelegationList = function () {
                SearchDelegation();
            };

            $scope.ResetDelegation();


            $scope.GoToView = function (id) {
                var url = URI_LIST_VIEW.replace(GUID_EMPTY, id);
                window.location = url;
            }

        });
    </script>
}

