﻿@{ 
    ViewBag.Title = "MAIN PAGE";

    var USER = ESS.BusinessLogic.UserLogic.GetCurrentUser();
}

@section BreadCrumb {
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action(MVC.Home.Index())">Home</a>
        </li>
    </ul>
}

<div class="row">
    <div class="col-sm-8">
        <div class="content-box">
            <div class="element-wrapper">
                <div class="user-profile">
                    <div class="up-head-w" style="background-image: url(http://www.jresources.com/assets/uploads/home/1b8b3b7ea8d9e8611e08ae54dc6c0052.jpg);">
                        <div class="up-main-info">
                            <h4 class="">
                                @USER.FullName
                            </h4>
                            <h5 class="up-sub-header">
                                @USER.Jabatan
                            </h5>
                        </div>
                        <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF"><path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path></g></svg>
                    </div>
                    <div class="up-controls">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="value-pair">
                                    <div class="label">
                                        Status:
                                    </div>
                                    <div class="value badge badge-pill badge-success">
                                        Online
                                    </div>
                                </div>
                                <div class="value-pair">
                                    <div class="label">
                                        Member Since:
                                    </div>
                                    <div class="value">
                                        2011
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="up-contents">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="content-panel">
            <div class="content-panel-close">
                <i class="os-icon os-icon-close"></i>
            </div>
            <div class="element-wrapper">
                <h6 class="element-header">
                    Side bar
                </h6>

            </div>
        </div>
    </div>
</div>



